<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Hey <%= @user_name %></p>,

    <p>
      I wanted to let you know that the payment method you have on file to renew your Premium subscription is no longer valid and your account status has been updated to the free Starter tier.
    </p>

    <p>
      You can re-subscribe any time by adding a valid payment method to your account.
      You can <a href="https://www.notebook.ai/my/billing/subscription">update your billing preferences by logging into your account.</a>
    </p>

    <p>
      Don’t hesitate to email any time at andrew@indentlabs.com with questions or concerns. I’m happy to help!
    </p>

    <p>
      Happy worldbuilding!
    </p>

    <p>
      Andrew
    </p>
  </body>
</html>
