<div class="row">
<div class="col-md-4">
  <div class="card">
    <h1 class="card-heading">This is is your dashboard</h1>
    <div class="card-body">
      <p>
        As you plan your stories, you can always return back here to get a view of everything
        you've created at a glance. To get back here from anywhere, simply click the
        <strong>Indent</strong> logo up top, or the <span class="glyphicon glyphicon-home"></span> icon next to it.
      </p>
      <p>
        Good luck and have fun!
      </p>
    </div>
    <div class="card-comments"></div>
  </div>
</div>

<div class="col-md-4">
  <div class="card">
    <h1 class="card-heading">Ready to get started?</h1>
    <div class="card-body">
      <p>
        Welcome to Indent. Before you get started, it's recommended that you
        <%= link_to "create a universe", :universe_create %>.
      </p>
      <p>
        This universe will contain
        everything you create about your world, and is a handy way to keep multiple worlds
        cleanly separated during the planning process.
      </p>
    </div>
    <div class="card-comments">
      <%= link_to "Create a universe!", :universe_create %>
    </div>
  </div>
</div>
</div>

