  <div class="col-sm-3">
    <div class="card">
      <h1 class="card-heading"><%= model_name %></h1>
      <%= image_tag image %>
      <div class="card-body">
        <p><%= description %></p>
      </div>
      <div class="card-comments">
        <%= link_to t('.plan_your_own'), plan_path, class: "btn" %>
      </div>
    </div>
  </div>