
<% quote = t(:quotes).sample %>

<div class="card">
  <blockquote>
    <p><%= quote["text"] %></p>
    <small>
      <%= quote["author"] %>,
      <cite title="<%= quote["source"] %>">
        <%= quote["source"] %>
      </cite>
    </small>
  </blockquote>
</div>