<div class="card">
	<h3 class="card-heading simple">What are "Anonymous" accounts?</h3>
	<div class="card-body">
		<p>
			Nobody likes having to create an account before being able to check out something cool. 
		</p>

		<p>
			So you don't need an account. If you're just browsing or deciding whether or not it's worth creating an account, you can simply log in with the big, blue <a href="/be-anonymous">Be Anonymous</a> button. 
		</p>

		<p>
			Clicking the button will generate a random account and automatically log you in, letting you jump right in to planning your stories. Everything acts exactly as it would if you were logged in to a "real" account, except with one caveat:
		</p>

		<p>
			<strong>If you log out or close your browser without <a href="/account">setting a username and password for yourself</a>, your account will be deleted.</strong> To keep all of your content, all you have to do is visit <a href="/account">this page</a> and type in the login information you want to use &ndash; it's that easy. All of your content will be saved and you can log in to your account with that username in the future.
		</p>
	</div>
	<div class="card-comments"></div>
</div>

<div class="card">
  <%= render 'quote_card' %>
</div>
