<div class="card">
  <h3 class="card-heading simple">
  	Attribution
  </h3>
  <div class="card-body">
  	<p>
  		There are a lot of wonderful artists out there, but I am not one of them. Therefore, I've populated the site with <a href="http://us.creativecommons.org/">Creative Commons</a> licensed images. Below, you can see who the artist is for any piece of art displayed on the site, and typically click through to more of their work.
  </div>
  <div class="card-comments"></div>
</div>

<div class="row-fluid">

	<div class="span4 card">
		<h3 class="card-heading simple">
			~digb
		</h3>
		<div class="card-body">
			<a href="http://digb.deviantart.com/art/Portals-367961779">
				<%= image_tag "headers/universes.jpg" %>
			</a>
		</div>
		<div class="card-comments">
			<a href="http://digb.deviantart.com">More by this artist</a>
		</div>
	</div>

	<div class="span4 card">
		<h3 class="card-heading simple">
			Artist name
		</h3>
		<div class="card-body">
			Content
		</div>
		<div class="card-comments">
			<a href="#">More by this artist</a>
		</div>
	</div>

	<div class="span4 card">
		<h3 class="card-heading simple">
			Artist name
		</h3>
		<div class="card-body">
			Content
		</div>
		<div class="card-comments">
			<a href="#">More by this artist</a>
		</div>
	</div>

</div>