<div class="card">
  <h3 class="card-heading simple"><%= t '.header' %></h3>
  <div class="card-body">
    <p><%= t( '.paragraph_1_html',
              a_long_list_link: link_to( t('.list_link'),
                                           "https://github.com/drusepth/Indent/issues")) %>
    </p>
  </div>
  <div class="card-comments"></div>
</div>
