<% if @question.present? && @question[:question].present? %>
  <div class="row">
    <div class="col s12">
      <%= render partial: 'cards/serendipitous/content_question', locals: { question: @question, content: @content } %>
    </div>
  </div>
<% end %>

<% if current_user.content_count.zero? && false %>
  <div class="row">
    <div class="col s12">
      <!-- Get started onboarding -->
    </div>
  </div>
<% end %>

<%
  s_width = 12
  m_width = 6
  l_width = 4

  if current_user.content_count > 0
    # If we're losing 2 columns to the sidebar (if any content exists), only show 2 content types per row
    l_width = 6
  end
%>

<div class="row">
  <% @content_types.reverse.each do |content_type| %>
    <%
      pluralized_content_name = content_type.downcase.pluralize

      if @universe_scope.present? && content_type != 'Universe'
        content_list = @universe_scope.send(pluralized_content_name)
      else
        content_list = current_user.send(pluralized_content_name) + current_user.send("contributable_#{pluralized_content_name}")

        unless content_type == 'Universe'
          content_list.concat(current_user.universes.flat_map { |universe| universe.send(pluralized_content_name) }).uniq!
        end
      end
    %>

    <div class="dashboard-row col <%= "s#{s_width} m#{m_width} l#{l_width}" %>">
      <%= render partial: 'content/cards/in_universe_content_list', locals: { content_type: content_type.downcase, content_list: content_list } %>
    </div>
  <% end %>
</div>
