<h2>Vote for Notebook.ai's first community feature!</h2>

<div class="row">
  <div class="col s12">
    <h4>Get extra votes for Notebook.ai's first community feature</h4>
    <p class="light">
      Worldbuilding is better with a world of diverse experiences and ideas. For the first time, all Premium users have been given a vote to decide what Notebook.ai's first community-based feature will be! You can cast your vote at <%= link_to 'the voting page', '#' %>, and you can earn additional votes with each referral.
    </p>
  </div>
</div>
<div class="row">
  <div class="col s12 m3">
    <div class="card">
      <div class="card-content">
        <div class="center"><i class="material-icons blue-text" style="font-size: 55px;">stars</i></div>
        <h5>Community Challenges</h5>
        <p>
          Submit your worlds to themed challenges that will push your creativity to its limits &mdash; with prizes!
        </p>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card">
      <div class="card-content">
        <div class="center"><i class="material-icons blue-text" style="font-size: 55px;">group_work</i></div>
        <h5>Universe Collaboration</h5>
        <p>
          Collaborate and work together with friends and coworkers in your universes &mdash; while staying in control.
        </p>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card">
      <div class="card-content">
        <div class="center"><i class="material-icons blue-text" style="font-size: 55px;">forum</i></div>
        <h5>Forums & Chat Rooms</h5>
        <p>
          Discuss your worlds and ideas in great detail with other brilliant worldbuilders from all over Earth.
        </p>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card">
      <div class="card-content">
        <div class="center"><i class="material-icons blue-text" style="font-size: 55px;">live_help</i></div>
        <h5>Expert Q&A Sessions</h5>
        <p>
          Get any and all of your worldbuilding questions answered by experts on geography, civics, biology, and more.
        </p>
      </div>
    </div>
  </div>

  <div class="col s12 center">
    <%= link_to 'Cast your vote and see results on our voting page', '#' %>
  </div>
</div>