<div class="hero-header">
  <div class="top">
    <h1 id="fade1">Your digital notebook is here.</h1>
     <%= link_to "Write Smarter", about_notebook_path, class: 'btn', id: 'fade2' %>
  </div>
  <%= image_tag 'landing/digital-notebook.jpg' %>
</div>

<script type="text/javascript">
$(document).ready(function () {
  setTimeout(function () {
    $('#fade1').fadeIn(2000, function () {
      $('#fade2').fadeIn(3000);
    });
  }, 500);
});
</script>