<div class="hero-unit">
  <div class="row-fluid">
    <div class="span8">
      <h1>Indent <small>"Before You Write"</small></h1>
      <p>
        Tools for writers, game designers, and roleplayers to create magnificent universes, and everything within them.
      </p>
      <p>
        <a class="btn btn-primary btn-large" href="/register">
          Get Started Now<br />
          <small style="color: lightgreen">It's free!</small>
        </a>
        <small style="margin-left: 10px;">Please excuse the cats.</small>
      </p>
    </div>
    <div class="span4">
      <div class="thumbnail">
        <img src="http://placekitten.com/265/200" />
      </div>
    </div>
  </div>
</div>

<hr />
<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <small>Someone famous, <cite title="Source Title">Source Title</cite></small>
</blockquote>
<hr />

<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <img src="http://placekitten.com/260/130" alt="">
      <h2>Characters</h2>
      <p>
        Plan physical appearance, behaviorisms, social roles, family &ndash; even a favorite color!
      </p>
      <p>
        <a href="#" class="btn">Create!</a>
      </p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <img src="http://placekitten.com/260/130" alt="">
      <h2>Equipment</h2>
      <p>
        Every weapon was made by someone. Keep track of every aspect of your equipment. 
      </p>
      <p>
        <a href="#" class="btn">Create!</a>
      </p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <img src="http://placekitten.com/260/130" alt="">
      <h2>Locations</h2>
      <p>
        Upload maps, link areas, track demographics, and keep track of history.
      </p>
      <p>
        <a href="#" class="btn">Create!</a>
      </p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <img src="http://placekitten.com/260/130" alt="">
      <h2>Magic</h2>
      <p>
        Whether it's fireballs or potions or nature or voodoo, craft every facet to how it works.
      </p>
      <p>
        <a href="#" class="btn">Create!</a>
      </p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <img src="http://placekitten.com/260/130" alt="">
      <h2>Plots</h2>
      <p>
        Every universe has a million plots going on. Keep track of yours with a smart outline.
      </p>
      <p>
        <a href="#" class="btn">Create!</a>
      </p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <img src="http://placekitten.com/260/130" alt="">
      <h2>Universes</h2>
      <p>
        You know you've always wanted to create a universe. Now's your chance!
      </p>
      <p>
        <a href="#" class="btn">Create!</a>
      </p>
    </div>
  </li>
</ul>

<hr />
<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <small>Someone famous, <cite title="Source Title">Source Title</cite></small>
</blockquote>
<hr />

<div class="media">
  <a class="pull-left thumbnail" href="#" style="margin-right: 10px;">
    <img class="media-object" src="http://placekitten.com/85/85">
  </a>
  <div class="media-body">
    <p>
      I started Indent as a tool meant just for my own eyes &mdash; one that I could just throw 
  character ideas at on a whim and refer back to them when I needed to introduce someone new in a story.
    </p>
    <p>
      And then... it grew. It grew to including weapons and armor. And then towns. And potions, and spells, 
      and lands &ndash; even languages.
    </p>
    <p>
      So I thought I'd extend my tool to you, and let others benefit from it in the same way I have.
    </p>
  </div>
</div>

<div class="clearfix"></div>
<h3>Jump right into planning. Every aspect is important.</h3>
<hr />
<div class="row-fluid">
	<div class="span2">
		<h3 class="label label-info"><i class="icon-user icon-white"></i> Characters</h3>
		<p>People in your stories, and the people they meet</p>
	</div>
	<div class="span2">
		<h3 class="label label-info"><i class="icon-shopping-cart icon-white"></i> Equipment</h3>
		<p>Legendary artifacts and magic suits of armor</p>
	</div>
	<div class="span2">
		<h3 class="label label-info"><i class="icon-map-marker icon-white"></i> Locations</h3>
		<p>Your hero's birthtown or the city down the way</p>
	</div>
	<div class="span2">
		<h3 class="label label-info"><i class="icon-leaf icon-white"></i> Magic</h3>
		<p>Spells, enchantments, potions, curses</p>
	</div>
	<div class="span2">
		<h3 class="label label-info"><i class="icon-road icon-white"></i> Plots</h3>
		<p>Conflicts your hero must overcome, and how they do so</p>
	</div>
	<div class="span2">
		<h3 class="label label-info"><i class="icon-globe icon-white"></i> Universes</h3>
		<p>Everything that exists in your story's world</p>
	</div>
</div>

<hr />

<p>
	I'm still working out the kinks here, so stay with me. Your data is safe, so feel free to use Indent in the meantime!
</p>
