
<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <small>Someone famous, <cite title="Source Title">Source Title</cite></small>
</blockquote>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non erat eros. Donec id enim id ligula pulvinar luctus eleifend at massa. Fusce aliquam tempor aliquet. In hac habitasse platea dictumst. Aliquam rhoncus aliquet arcu, ut venenatis velit lobortis et. Vestibulum vitae erat eu odio tempus dignissim. Vestibulum quis urna eu leo vehicula rutrum. Morbi placerat turpis in sem sollicitudin fermentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla a aliquet tortor. Aliquam erat volutpat. Pellentesque dapibus aliquet tempus. Curabitur quis ultrices eros.
</p>

<h3>You can plan</h3>
<div class="row-fluid">
	<div class="span2">
		<h3 class="label label-info"><i class="icon-user icon-white"></i> Characters</h3>
		<p>People in your stories, and the people they meet</p>
	</div>
	<div class="span2">
		<h3 class="label label-info"><i class="icon-shopping-cart icon-white"></i> Equipment</h3>
		<p>Legendary artifacts and magic suits of armor</p>
	</div>
	<div class="span2">
		<h3 class="label label-info"><i class="icon-map-marker icon-white"></i> Locations</h3>
		<p>Your hero's birthtown or the city down the way</p>
	</div>
	<div class="span2">
		<h3 class="label label-info"><i class="icon-leaf icon-white"></i> Magic</h3>
		<p>Spells, enchantments, potions, curses</p>
	</div>
	<div class="span2">
		<h3 class="label label-info"><i class="icon-road icon-white"></i> Plots</h3>
		<p>Conflicts your hero must overcome, and how they do so</p>
	</div>
	<div class="span2">
		<h3 class="label label-info"><i class="icon-globe icon-white"></i> Universes</h3>
		<p>Everything that exists in your story's world</p>
	</div>
</div>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non erat eros. Donec id enim id ligula pulvinar luctus eleifend at massa. Fusce aliquam tempor aliquet. In hac habitasse platea dictumst. Aliquam rhoncus aliquet arcu, ut venenatis velit lobortis et. Vestibulum vitae erat eu odio tempus dignissim. Vestibulum quis urna eu leo vehicula rutrum. Morbi placerat turpis in sem sollicitudin fermentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla a aliquet tortor. Aliquam erat volutpat. Pellentesque dapibus aliquet tempus. Curabitur quis ultrices eros.
</p>

<h3>The Big Idea (which, apart from planning, won't be public knowledge for quite a while)</h3>
<div class="row-fluid">
	<div class="span3">
		<h3 class="label label-info">Plan</h3>
		<p>
			Outline characters, their relationships, places, magic, languages&mdash;anything you want&mdash;<em>before</em> you start writing.
	  </p>
	</div>
	<div class="span3">
		<h3 class="label label-info">Write</h3>
		<p>
			Whether you're writing poetry or novels or nonfiction, medium-specific tools will help you every step of the way.
		</p>
	</div>
	<div class="span3">
		<h3 class="label label-info">Revise</h3>
		<p>
			Find out what peers and professional reviewers think about your work, and pinpoint exactly how to improve it.
		</p>
	</div>
	<div class="span3">
		<h3 class="label label-info">Submit</h3>
		<p>
			Determine which publishers are most interested in your writing, and easily send it over to them. Track your submissions over time.
		</p>
	</div>
</div>
