<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <%= image_tag 'card-headers/hero.jpg', width: '100%' %>
        <% set_meta_tags image_src: image_url('card-headers/hero.jpg') %>
        <span class="card-title">Your digital notebook is here.</span>
      </div>
      <div class="card-content">
        <h4>
          <%= description 'Notebook is a set of tools for writers, game designers, and roleplayers to create magnificent universes &ndash; and everything within them.' %>
        </h4>
        <p>
          From a simple interface in your browser, on your phone, or on your tablet, you can do everything you'd ever want to do while creating your own little (or big!) world.
        </p>
      </div>
      <div class="card-action">
        <%= link_to 'Get started', new_user_registration_path %>
      </div>
    </div>
  </div>
</div>
