<div class="grey-text">
  Your personal scratchpad &mdash; save anything you'd like!
</div>
<%= form_for current_user.document || Document.create(user: current_user) do |f| %>
  <%=
    f.text_area :body,
      class: 'materialize-textarea',
      style: 'border: 1px dotted #ccc; padding: 0 4px;',
      placeholder: "Hi, I'm your personal scratchpad. Write as little or as much as you'd like!"
  %>
  <%= f.submit 'Save changes', class: 'btn btn-primary right blue' %>
<% end %>

<div style="clear: both"></div>

