<div class="row">
  <div class="col s12 center">
    <p>
      Notebook.ai was intentionally designed to allow anyone in the world to immediately get started building their own magnificent worlds for free.
    </p>
    <p>
      However, users can subscribe to Notebook.ai Premium to support the site's development and unlock a ton of awesome features.
    </p>
  </div>
</div>

<div class="row">
  <div class="col s12 m4 offset-m2">
    <div class="card" style="max-width: 500px; margin: 0 auto;">
      <div class="card-content">
        <div class="card-title">
          Notebook.ai Core
          <div class="right grey-text">Free forever</div>
        </div>
        <p>
          With a free account, worldbuilders can create up to five separate universes containing an unlimited number of characters, locations, and items &mdash; a trifecta of people, places, and things.
          You'll also be able to upload up to 50MB of images to your notebook pages.
        </p>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card" style="max-width: 500px; margin: 0 auto;">
      <div class="card-content">
        <div class="card-title">
          <div class="right grey-text">$9/month</div>
          Notebook.ai Premium
        </div>
        <p>
          Notebook.ai Premium unlocks <%= Rails.application.config.content_types[:premium].count %> additional types of pages for you to create.
          Additionally, Premium subscribers will have their image upload limit increased to a massive 10GB (approximately 4,000+ images).
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div>Additional features:</div>

    * Starter can recover deleted images up to 24 hours after deletion, Premium up to 7 days
    * Collaboration on both
    * Premium sharing

    * Unlimited documents on both
  </div>
</div>
