<div class="card">
	<h3 class="card-heading simple">Your privacy is important.</h3>
	<div class="card-body">
		<p>
			I'm no lawyer, and I won't pretend to be. Nobody likes reading those legalese documents, so I'll just give you the facts in English:
		</p>

		<ul>
			<li>Indent will <strong>always</strong> do its best to maintain the security and privacy of your data, in order to ensure that it is you and only you that has access to view, modify, or remove it.</li>
			<br />
			<li>Indent will <strong>never</strong> share your personal information or any information you create in the process of planning characters, locations, etc., with anyone other than you. No advertisers, no partners, no anything except a good product for planning.</li>
			<br />
			<li>Indent will <strong>never</strong> assume ownership of any data you enter, anywhere. All information relating to stories, characters, locations, etc., are owned by you, the author, and only you.</li>
		</ul>

		<p>
			For those of you who <em>do</em> like legalese documents: I'm sorry I'm not a lawyer. I'm working to get one to write something official soon, but in the meantime you'll have to take my word for it.
		</p>

		<p>
			If you have <em>any</em> questions at all, feel free to contact me personally at the email address below and I'd be more than happy to chat:
			&lt;image of email address&gt;
		</p>
	</div>
	<div class="card-comments"></div>
</div>

<div class="card">
	<blockquote>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
		<small>Someone famous, <cite title="Source Title">Source Title</cite></small>
	</blockquote>
</div>
