<%
	set_meta_tags title: 'Privacy Policy',
	description: 'Notebook will always do its best to maintain the security and privacy of your data, in order to ensure that it is you and only you that has access to view, modify, or remove it, unless you explicitly designate otherwise.'
%>

<h4>
  <%= link_to data_vault_path, class: 'grey-text tooltipped', style: 'position: relative; top: 4px;', data: {
        position: 'bottom',
        enterDelay: '500',
        tooltip: "Back to your Data Vault"
      } do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
  Notebook.ai Privacy Policy
</h4>

<div class="row">
  <div class="col s12 m9">
    <div class="card hoverable">
			<div class="card-content">
				<div class="card-title">Your privacy is important.</div>
				<p>
					Notebook.ai will <strong>always</strong> do its best to maintain the security and privacy of your data, 
					in order to ensure that it is you and only you that has access to view, modify, or remove it, unless 
					you explicitly designate otherwise.
				</p>
				<br />
				<p>
					Notebook.ai will <strong>never</strong> share the contents of any of your notebook pages
					with anyone other than you, unless you explicitly mark that content as "public" and/or invite others to
					collaborate on those pages. 
				</p>
				<br />
				<p>
					Notebook.ai will <strong>never</strong> assume ownership of any data you enter, anywhere. All ideas and
					information relating to stories, characters, locations, etc., are owned by you&mdash;the author&mdash;and only you.
				</p>
				<br />

				<div class="card-title">All notebook pages are private by default.</div>
				<p>
					By default, every page you create on Notebook.ai is private by default. Only you will be able to view it,
					and you will only be able to view it while logged into Notebook.ai. 
				</p>
				<br />
				<p>
					You can adjust this setting at any time by clicking the "share" icon 
					(<i class="material-icons" style="font-size: 100%">share</i>) 
					to toggle the page between private and public (visible to anyone with the URL). This allows you to 
					share that content with anyone at any time.
				</p>
				<br />
				<p>
					If you ever mark that content as private, we will immediately make it private to all eyes except yours&mdash;any
					existing links will immediatly stop working until you mark that content public again. 
					No advertisers, no unnecessary partners, no anything except a good product for planning.
				</p>
				<br />

				<div class="card-title">Collaboration with others on Notebook.ai</div>
				<p>
					When editing a universe, you are able to invite collaborators by email address. When doing so, your
					email address is <strong>not</strong> shared with them. They will receive an invitation by email to
					collaborate on your universe, which includes the name of that universe. 
				</p>
				<br />
				<p>
					After someone has accepted an invitation to collaborate on a universe, they will have full access to
					view and edit <strong>every</strong> page in that universe. This allows teams to work together in a shared
					world, but also means every collaborator can see every page within that universe regardless of those pages'
					privacy settings.
				</p>

				<br />
				<div class="card-title">Document analysis is opt-in.</div>
				<p>
					Premium users have the option to have their documents analyzed with a world-class artificial intelligence
					trained to give insights into that document's structure, word choice, and emotional impact. This analysis
					is <strong>opt-in</strong> and no document is ever analyzed without you explicitly requesting an analysis.
				</p>
				<br />
				<p>
					This document analysis makes use of IBM Watson's natural language understanding services to parse the
					document text and extract characters, locations, and other concepts, as well as the relations between
					those concepts. In order to do this, the document
					text is shared via IBM Watson's secure API at the time an analysis is requested.
					<a href="https://www.ibm.com/privacy/us/en/?lnk=flg-priv-usen">You can read IBM's privacy policy here</a>.
				</p>

				<br />
				<div class="card-title">Data-driven improvements with analytics.</div>
				<p>
					To better understand our users, how they use the site, and which features are popular or not popular,
					we also collect analytics on site usage using Google Analytics.
					<a href="https://policies.google.com/privacy?hl=en-US#infocollect">You can read Google's privacy policy here</a>.
				</p>

				<br />
				<div class="card-title">Secure payment processing with Stripe.</div>
				<p>
					We use the industry-standard Stripe payment processor for processing credit and debit card payments.
					Therefore, no credit card or related payment information is ever stored on Notebook.ai servers or
					accessible in any way.
					<a href="https://stripe.com/privacy">You can read Stripe's privacy policy here</a>.
				</p>

				<br />
				<div class="card-title">Questions?</div>
				<p>
					If you have <em>any</em> questions at all, feel free to contact me directly by 
					<a href="https://github.com/indentlabs/notebook/issues/new">opening an issue on GitHub</a> 
					or <a href="https://www.notebook.ai/users/5">messaging me on Notebook.ai</a>.
				</p>
			</div>
	  </div>
	</div>
</div>
