<%
set_meta_tags title: 'Privacy Policy',
description: 'Notebook will always do its best to maintain the security and privacy of your data, in order to ensure that it is you and only you that has access to view, modify, or remove it, unless you explicitly designate otherwise.'
%>

<div class="row">
  <div class="col s12 m12 l12">
    <div class="card hoverable" style="padding: 30px;">
	    <h3 class="card-heading simple">Your privacy is important.</h3>
		<div class="card-body">
			<p>
				I'm no lawyer, and I won't pretend to be. Nobody likes reading those legalese documents, so I'll just give you the facts in English:
			</p>

			<ul>
				<li>Notebook will <strong>always</strong> do its best to maintain the security and privacy of your data, in order to ensure that it is you and only you that has access to view, modify, or remove it, unless you explicitly designate otherwise.</li>

				<br />

				<li>Notebook will <strong>never</strong> share your personal information or any universes, characters, locations, items, creatures, religions, languages, magic, races, groups, or scenes with anyone other than you, unless you explicitly mark that content as "public". If you ever mark that content as private, we will immediately make it private to all eyes except yours, including those that already have a link to it. No advertisers, no partners, no anything except a good product for planning.</li>

				<br />

				<li>Notebook will <strong>never</strong> assume ownership of any data you enter, anywhere. All information relating to stories, characters, locations, etc., are owned by you, the author, and only you.</li>
			</ul>

			<p>
				For those of you who <em>do</em> like legalese documents: I'm sorry I'm not a lawyer. I'm working to get one to write something official soon, but in the meantime you'll have to take my word for it.
			</p>

			<p>
				If you have <em>any</em> questions at all, feel free to contact me personally at an<span>dr</span>ew<strong>@</strong><span></span>indent<span>labs</span>.<em></em>com<em></em>, or <a href="https://github.com/indentlabs/notebook/issues/new">open an issue on GitHub here</a>.
			</p>
		</div>
		<div class="card-comments"></div>
	  </div>
	</div>
</div>
