<div class="col s12 m6">
  <%= render partial: 'cards/user/recent_activity', locals: { title: 'Recently-updated pages', content_list: @recent_edits } %>
</div>
<div class="col s12 m6">
  <%= render partial: 'cards/user/recent_activity', locals: { title: 'Recently-created pages', content_list: @recent_creates } %>
</div>