<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <% if @universe_scope %>
        <h2 class="text-base font-semibold text-indigo-600 tracking-wide uppercase">
          <%= link_to @universe_scope.name, @universe_scope %>
        </h2>
      <% end %>
      <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">
        Table of Contents
      </p>
      <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">
        All your pages and stuff (maybe make this a universe page, sharable?)
      </p>
    </div>
  </div>
</div>

<section class="container mx-auto">
  <div>
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3 text-center">
      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">Total Pages</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">897</dd>
      </div>

      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">Total Words</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">58,384</dd>
      </div>

      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">Something</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">24.57%</dd>
      </div>
    </dl>
  </div>
</section>