<div class="row">
  <div class="col s12 m3">
    <%= image_tag 'basil/portrait.png', style: 'width: 100%' %>
  </div>
  <div class="col s12 m9">
    <h1 style="font-size: 2em; margin-left: 1rem">Hey, I'm Basil.</h4>
    <h2 style="font-size: 1.4em; margin-left: 1rem">I can help you visualize your characters.</h2>
    <p style="margin-left: 1rem">
      This is a little About Me page.
    </p>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="center grey-text text-darken-3">Images created</div>
    <%= area_chart @commissions.group_by_day(:created_at), colors: ['#2196F3'] %>
  </div>
</div>