<% value.each do |li| %>
  <div class="chip">
    <%= link_to li do %>
      <span class="<%= li.class.color %>-text">
        <i class="material-icons left">
          <%= li.class.icon %>
        </i>
      </span>
      <%= li.name_field_value %>
    <% end %>
  </div>
<% end %>
<br/><br/>