<%= form_with(model: share_comment, local: true) do |form| %>
  <% if share_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(share_comment.errors.count, "error") %> prohibited this share_comment from being saved:</h2>

      <ul>
        <% share_comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
