<div class="card">
	<ul class="nav nav-tabs">
	  <li class="active">
	    <a href="/login">Log in</a>
	  </li>
	  <li><a href="/register">Sign up</a></li>
	  <li><a href="/be-anonymous">Be Anonymous</a></li>
	</ul>

	<%- model_class = @session.class -%>
	<%= render :partial => 'form' %>
</div>