<%# Usage: render partial: 'content/display/contributors', locals: { content: content } %>

<ul class="browser-default">
  <% content.contributors.each do |contributor| %>
    <li><%= contributor.user ? link_to(contributor.user.name, contributor.user) : "#{contributor.email} (invited)" %></li>
  <% end %>
</ul>
