<%# Usage: render partial: 'content/display/contributors', locals: { content: content } %>

<%
  raw_model = content.is_a?(Universe) ? content : content.raw_model
%>

<div id="contributors_panel" class="panel">
  <%= render partial: 'content/display/contributors_user_list', locals: { content: content, raw_model: raw_model } %>
</div>