<%= link_to edit_polymorphic_path(@content),
  class: "btn-floating btn-large halfway-fab waves-effect waves-light #{@content.class.color}",
  style: 'z-index: 500;' do %>
	<i class="material-icons">edit</i>
<% end %>

<a class="btn-floating btn-small halfway-fab waves-effect waves-light white expand" style="z-index: 500; margin-right: 61px;">
  <i class="material-icons black-text">format_line_spacing</i>
</a>

<a class="btn-floating btn-small halfway-fab waves-effect waves-light white share" style="z-index: 500; margin-right: 105px;">
  <i class="material-icons black-text">share</i>
</a>