<a class="btn-floating btn-large halfway-fab waves-effect waves-light <%= @content.class.color %>" style="z-index: 1000">
  <i class="material-icons">edit</i>
</a>

<a class="btn-floating btn-small halfway-fab waves-effect waves-light white expand" style="z-index: 1000; margin-right: 60px;">
  <i class="material-icons black-text">format_line_spacing</i>
</a>

<a class="btn-floating btn-small halfway-fab waves-effect waves-light white share" style="z-index: 1000; margin-right: 105px;">
  <i class="material-icons black-text">share</i>
</a>