<% if content_list && content_list.any? %>
  <div style="margin-top: -10px;" class="recent-activity">
    <%=
      render partial: 'content/list/list',
             locals: {
               title: defined?(title) ? title : 'Recent creations',
               content_list: content_list,
               content_type: Character # todo why is this hard-coded?
             }
    %>
  </div>
<% end %>
