<% if current_user.recent_content.count > 0 %>
<div style="margin-top: -10px;" class="recent-activity">
  <%= render partial: 'content/list/list', locals: { content_list: current_user.recent_content, title: 'Recent creations' } %>
</div>
<% end %>
