<% if current_user.recent_content.count > 0 %>
<div style="margin-top: -10px;" class="recent-activity">
  <%=
    render partial: 'content/list/list',
           locals: {
             title: defined?(title) ? title : 'Recent creations',
             content_list: defined?(content_list) ? content_list : current_user.recent_content
           }
  %>
</div>
<% end %>
