<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h1>Hello!</h1>

    <p>
      <%= @inviter.name %> is creating their own universes on Notebook.ai and has invited you to collaborate on their <%= link_to @universe.name, universe_path(@universe, referral_code: @universe.user.referral_code.code) %> universe.
    </p>
    <p>
      To get started, simply sign up or sign in to <%= link_to 'Notebook.ai', "https://www.notebook.ai/users/sign_in?referral_code=#{@universe.user.referral_code.code}" %> with this email address and look for "<%= @universe.name %>" under your Universes tab.
    </p>

    <p>
      Happy worldbuilding!
    </p>

    <br /><br /><br />
    <p style="font-size: 80%">
      Please don't respond to this email as this email address is not watched. If you have any questions, comments, concerns, or want to unsubscribe to future collaboration invitations, please send an email directly to andrew@indentlabs.com. Thank you for your understanding.
    </p>
  </body>
</html>
