# Don't include any of these files in the Dockerfile build context.
# This will improve build performance and reduce the final image size.
.git/
.github/
.dockerignore
.editorconfig
.gitignore
.rubocop.yml
CHANGELOG.md
docker-compose.yml
node_modules/
log/*
tmp/*
!log/.keep
!tmp/.keep
storage/*
public/assets
public/packs
test/
