# Don't include any of these files in the Dockerfile build context.
# This will improve build performance and reduce the final image size.
# See: https://docs.docker.com/engine/reference/builder/#dockerignore-file
.git/
.github/
.dockerignore
.editorconfig
.gitignore
.rubocop.yml
CHANGELOG.md
docker-compose.yml
log/
test/
