<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        We're seeing an issue with the forums that is preventing the rest of the site from loading for many users.
        While we debug this issue, the forums are temporarily closed to ensure the site remains usable for everyone.
        <br /><br />
        Very sorry for the inconvenience &mdash; we're working on it!
      </div>
    </div>
  </div>
</div>
