<h1>Editing Application Integration</h1>

<%= render 'form', application_integration: @application_integration %>

<%= link_to 'Show', @application_integration %> |
<%= link_to 'Back', application_integrations_path %>
