<p id="notice"><%= notice %></p>

<h1>Application Integrations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @application_integrations.each do |application_integration| %>
      <tr>
        <td><%= link_to 'Show', api_application_integration_path(application_integration) %></td>
        <td><%= link_to 'Edit', edit_api_application_integration_path(application_integration) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

