<a class='dropdown-trigger black-text attribute-field-dropdown' href='#' data-target="attribute-field-menu-<%= field.id %>" data-constrainwidth='false' tabindex="-1">
  <i class="material-icons">more_vert</i>
</a>

<ul id="attribute-field-menu-<%= field.id %>" class='dropdown-content'>
  <li>
    <%= link_to "Delete this attribute forever", field,
      :class => 'red-text',
      :method => :delete,
      :data => { :confirm => 'Are you sure? This action cannot be undone!' } %>
  </li>
</ul>
