<% if content.errors.any? %>
  <div class="card-panel red lighten-4">
    This <%= content.class.to_s.downcase %> couldn't be saved because of the following errors:
    <% content.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>

<% elsif flash[:notice].present? %>
  <div class="card-panel red lighten-4">
    <%= flash[:notice] %>
  </div>
<% end %>
