<% if content.errors.any? %>
<div class="card-panel">
  This <%= content.class.to_s.downcase %> had errors:
  <% content.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</div>
<% end %>
