<div class="field-actionbar">
  <div class="content-field-link-bar-container left"></div>
  <div class="im-feeling-lucky left" style="display: none">

      <div class="btn-group with-toggler" role="group">
        <a class="btn blue tooltipped"
           style="padding: 0 9px;"
           data-tooltip="Link any page with a small snippet that<br />automatically renders as a link to that page."
           data-position="bottom"
           data-html="true">
          <i class="material-icons">
            casino
          </i>
        </a>
      </div>
  </div>

  <div style="clear: both;"></div>
</div>
