<% disabled = false if local_assigns[:disabled].nil? %>

<!-- privacy toggle -->

<%= form_for(content, remote: true, html: {role: :form, 'data-model': content.class.model_name}) do |form|%>
  <div class="switch">
    <%= content.name %>'s privacy setting:
    <label class="right">
        private
        <%= form.check_box :privacy, onchange: "$(this).submit();" %>
        <span class="lever"></span>
        public
    </label>
  </div>
<%end%>
