<div>
  <%= f.label attribute, attribute.humanize.capitalize %>
</div>

<div id="siblingships">
  <%= f.fields_for :siblingships do |siblingships| %>
    <%= render 'siblingship_fields', f: siblingships %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'add sibling', f, :siblingships, class: 'btn red' %>
  </div>
</div>