<%
  content_name = f.object.class.content_name
  field_value = field.page_field_values.find_or_create_by(page_id: content.id)
%>

<div class="input-field content-field">
  <%= f.label field.label.present? ? field.label : 'Untitled field' %>
  <%
    placeholder = I18n.translate "attributes.#{content_name}.#{field.name}",
      scope: :serendipitous_questions,
      name: f.object.send('name') || "this #{content_name}",
      attribute: "test",
      default: 'Write as little or as much as you want!'
  %>

  <%= text_area_tag "fields[#{field.id}]", field_value.value, class: "materialize-textarea", placeholder: placeholder %>
  <%# todo render 'content/form/attribute_field_dropdown', field: field %>
</div>
