<div class="center skip-half-page">
  <h2>This notebook was generated at Notebook.ai on</h2>
  <div class="underlined third-page-width centered">
    <%= DateTime.current.strftime("%A, %B %d, %Y") %>
  </div>
</div>

<% 5.times do %><br /><% end %>

<div class="center centered two-thirds-page-width">
  <p>
    Conveniently, each of the categories and questions in this notebook correspond to questions that also
    exist on Notebook.ai. If you'd like to back up your worlds, link pages together, search your world,
    see changes over time, and share pages with others (even collaborators!), you're always welcome on
    Notebook.ai.
  </p>
  <br /><br /><br />
  <p class="text-right">
    Happy worldbuilding!
  </p>
  <p class="text-right">
    &mdash; Andrew, maker of Notebook.ai
  </p>
</div>