<li class="active white-text">
  <div class="collapsible-header <%= content_type_class.color %>">
    <i class="material-icons"><%= content_type_class.icon %></i>
    Customize the categories on all <%= content_type_class.name %> pages
  </div>
</li>
