<li class="active">
  <div class="collapsible-header">
    <i class="material-icons <%= content_type_class.color %>-text"><%= content_type_class.icon %></i>
    Customize the categories on <%= content_type_class.name %> pages
  </div>
</li>
