<div>
  <%= hidden_field_tag "field[name]", field[:id] %>
  <%=
    select_tag "field[value]",
      options_for_select(
        @linkables_raw['Universe'].compact.sort_by(&:name).map { |u| [u.name, u.id] },
        raw_model.try(:universe_id) || @universe_scope.try(:id)
      ),
      include_blank: true,
      class: 'autosave-closest-form-on-change block w-full px-3 py-2 text-base border-gray-300 focus:outline-none focus:ring-purple-800 focus:border-purple-800 sm:text-sm rounded-md'
  %>
</div>