.legend table, .legend > div { 
opacity: 1 !important; 
background: #fff;
left: 170px; 
top: 10px; 
width: 116px !important; }
.legend table { border: 1px solid #555; padding: 5px; }

#flotTip {
  padding: 3px 5px;
  background-color: #000;
  z-index: 100;
  color: #fff;
  box-shadow: 0 0 10px #555;
  opacity: .9;
  filter: alpha(opacity=70);
  border: 2px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
