.stream {
  
}

.stream-item {
  clear: both;
  display: block;
  width: 600px;
  padding-bottom: 100px;
  margin-bottom: 50px;
  border-bottom: 1px solid #d9d9d9;
}

.stream-item img {
  height: 70px;
  width: 70px;
  float: left;
  margin-right: 10px;
}
