ul.header-stripe {
  height: 7px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: fixed;
  z-index: 5000;
  border-bottom: 1px solid #F5F5F5;
}

ul.header-stripe li {
  background-color: #e33627;
  height: 100%;
  float: left;
  padding: 0px;
  margin: 0px;
}
ul.header-stripe li:nth-child(1n) {
  background-color: #e33627;
  width: 5%;
}
ul.header-stripe li:nth-child(2n) {
  background-color: #528aaa;
  width: 20%;
}
ul.header-stripe li:nth-child(3n) {
  background-color: #a1cc3a;
  width: 30%;
}
ul.header-stripe li:nth-child(4n) {
  background-color: #231f20;
  width: 5%;
}
ul.header-stripe li:nth-child(5n) {
  background-color: #e33627;
  width: 40%;
}
