<%= form_with(model: document_analysis, local: true) do |form| %>
  <% if document_analysis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document_analysis.errors.count, "error") %> prohibited this document_analysis from being saved:</h2>

      <ul>
        <% document_analysis.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
