<table>
  <tr>
    <th>Thread</th>
    <th>Trigger words</th>
    <th>Full text</th>
  </tr>
  <tr>

  <tr>
    <% @posts.each do |post| %>
      <% triggers = Documents::Analysis::ContentService.adult_content?(@list, post.content) %>
      <% next unless triggers.any? %>
      <td><%= post.postable.title %></td>
      <td><%= triggers.inspect %></td>
      <td><%= post.content %></td>
    <% end %>
  </tr>
</table>