<div class="row">
  <div class="col s12">
    The following users have been unsubscribed:
    <table>
      <thead>
        <tr>
            <th></th>
            <th>User ID</th>
            <th>Email</th>
            <th>Name</th>
            <th>Last login time</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><i class="material-icons green">check</i></td>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.name %></td>
            <td><%= user.last_sign_in_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
