<%= form_tag(perform_unsubscribe_path, method: :POST) do %>
  <div class="row">
    <div class="col s12">
      <div class="input-field col s12">
        <textarea id="emails" name="emails" class="materialize-textarea" style="height: 200px"></textarea>
        <label for="emails">Emails:</label>
        <sup>One email per line</sup>
      </div>
    </div>
  </div>

  <%= submit_tag 'Move the above users to the Starter plan', class: 'btn red' %><br />
  <sup>This will NOT remove the user from their current plan on Stripe, but WILL send a "You have been unsubscribed" email.</sup>
<% end %>
