<div class="row card">
  <div class="col s12 m6 l6 red lighten-4">
    <% if old_value.blank? %>
      <p>(no universe)</p>
    <% else %>
      <%= simple_format ContentFormatterService.show(
        text:         "[[Universe-#{old_value}]]",
        viewing_user: current_user
      ) %>
    <% end %>
  </div>
  <div class="col s12 m6 l6 green lighten-4">
    <% if new_value.blank? %>
      <p>(no universe)</p>
    <% else %>
      <%= simple_format ContentFormatterService.show(
        text:         "[[Universe-#{new_value}]]",
        viewing_user: current_user
      ) %>
    <% end %>
  </div>
</div>