<div id="search-modal" class="modal">
  <div class="modal-content">
    <h4>Your handy pagefinder</h4>
    <p>
      Type anything you want below. It'll match page names (like the names of your characters, locations, and so on), but also
      anything you've typed in any of those pages' fields as well. For example, searching "bald" will show you all your characters
      that you've entered "bald" in for their hair style.
    </p>
    <%= form_tag main_app.search_path, method: :get do %>
      <input type="search" name="q" value="" placeholder="search your notebook" />
      <button type="submit" class="btn btn-primary blue">Search everything</button>
    <% end %>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>
