<div class="thredded--post--content">
  <style>
    .thredded--post--content a {
      color: rgb(37 99 235); /* blue-600 */
      text-decoration: underline;
      text-decoration-color: rgb(37 99 235 / 0.3);
    }
    .thredded--post--content a:hover {
      color: rgb(29 78 216); /* blue-700 */
      text-decoration-color: rgb(29 78 216 / 0.5);
    }
    .dark .thredded--post--content a {
      color: rgb(96 165 250); /* blue-400 */
      text-decoration-color: rgb(96 165 250 / 0.3);
    }
    .dark .thredded--post--content a:hover {
      color: rgb(147 197 253); /* blue-300 */
      text-decoration-color: rgb(147 197 253 / 0.5);
    }
  </style>
  <%= post.filtered_content(self, **(local_assigns[:options] || {})) %>
</div>