<header>
  <div>
    <%= image_tag post.avatar_url, class: 'thredded--post--avatar mt-8' if post.user %>
    
    <%# TODO add moderator badge to avatar instead of next to name %>
    <% if false && post.user.forum_moderator? %>
      <i class="material-icons float-left text-notebook-blue">
        health_and_safety
      </i>
    <% end %>
  </div>

  <h2 class="thredded--post--user"><%= user_link post.user %></h2>
  <a href="<%= post.permalink_path %>" rel="nofollow" class="thredded--link thredded--post--created-at right">
    <%= time_ago post.created_at %>
  </a>
</header>