<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <% if session[:user] %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td style="width: 160px;"><%= simple_format link_to language.name, language_path(language) %></td>
        <td style="width: 180px;">
          <% if session[:user] and session[:user] == language.user.id %>
            <%= link_to t('.view', :default => t("helpers.links.view")),
                        language_path(language), :class => 'btn' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        language_edit_path(language), :class => 'btn' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

