<%- model_class = Language.new.class -%>
<% if @languages.length > 0 %>
<div class="card">
  <h3 class="card-heading simple">
    Your characters
    <% if false or Universe.where(user_id: session[:user]).length > 0 %>
      <small>from <%= universe_filter %></small>
    <% end %>
  </h3>

  <%= render 'list' %>
</div>
<% end %>

<div class="card">
  <h3 class="card-heading simple">Planning languages</h3>
  <div class="card-body">
    <p>
      English doesn't have to be the only language in your story. Whether you're planning differing dialects or completely new languages, you want to keep track of what defines them. 
    </p>
    <%= link_to 'New language', language_create_path, :class => 'btn btn-primary' %>
  </div>
  <div class="card-comments"></div>
</div>
