<%- model_class = @language.class -%>
<h2><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                               :default => "New #{model_class.model_name.human}") %></h2>

<div class="alert alert-info">Languages are <strong>not quite</strong> ready for testing. You will not lose any data you enter, but a lot will change very soon.</div>

<div class="card">
	<%= render :partial => 'tabs' %>
	<%= render :partial => 'form' %>
</div>