<ul role="list" class="space-y-2 flex mb-8">
  <% discussions.each do |topic| %>
    <%= link_to topic, class: 'w-full' do %>
      <li class="text-sm text-black hover:text-blue-800">
        <i class="material-icons float-left mr-2 text-blue-500">forum</i>
        <div><%= truncate(topic.title, length: 70) %></div>
        <div>
          <small>
            <%= pluralize (topic.posts.count - 1), 'reply' %>
          </small>
          <small>
            in <strong><%= topic.messageboard.name %></strong>
          </small>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
