<div class="max-w-7xl mx-auto grid grid-cols-3 space-x-4 my-4">
  <div class="bg-white overflow-hidden shadow rounded-md">
    <div class="p-5">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <i class="material-icons h-6 w-6 text-gray-400">date_range</i>
        </div>
        <div class="ml-5 w-0 flex-1">
          <dl>
            <dt class="text-sm font-medium text-gray-500 truncate">Weekly average</dt>
            <dd class="pb-1">
              <span
                class="text-lg font-medium text-gray-900"
                data-controller="animated-number"
                data-animated-number-lazy-value=""
                data-animated-number-start-value="0"
                data-animated-number-end-value="2583"
                data-animated-number-duration-value="500"
              ></span> words per day
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="bg-gray-50 px-5 py-3">
      <div class="text-sm">
        <a href="#" class="font-medium text-notebook-blue hover:text-blue-700">
          Some call-to-action
        </a>
      </div>
    </div>
  </div>

  <div class="bg-white overflow-hidden shadow rounded-md">
    <div class="p-5">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <i class="material-icons h-6 w-6 text-gray-400">calendar_month</i>
        </div>
        <div class="ml-5 w-0 flex-1">
          <dl>
            <dt class="text-sm font-medium text-gray-500 truncate">Words written this month</dt>
            <dd class="pb-1">
              <div
                class="text-lg font-medium text-gray-900"
                data-controller="animated-number"
                data-animated-number-lazy-value=""
                data-animated-number-start-value="0"
                data-animated-number-end-value="33359"
                data-animated-number-duration-value="500"
              ></div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="bg-gray-50 px-5 py-3">
      <div class="text-sm">
        <a href="#" class="font-medium text-notebook-blue hover:text-blue-700">
          View daily breakdown
        </a>
      </div>
    </div>
  </div>

  <div class="bg-white overflow-hidden shadow rounded-md">
    <div class="p-5">
      <div class="flex items-center">
        <div class="w-0 flex-1">
          <dl>
            <dt class="text-sm font-medium text-gray-500 truncate">Your active writing streak</dt>
            <dd>
              <% 7.times.with_index do |i| %>
                <%= link_to '#day-breakdown', class: 'group relative inline-block mt-2 mr-2' do %>
                  <span class="text-gray-600 bg-gray-200 group-hover:bg-gray-100 rounded-lg p-2 text-xs"><%= 25 + i %></span>
                  <span class="absolute top-0 right-0 inline-flex items-center justify-center px-1 py-1 text-xs font-bold leading-none transform translate-x-1/2 translate-y-1/4 rounded-full">
                    <i class="material-icons text-xl text-notebook-blue">check_circle</i>
                  </span>
                <% end %>
              <% end %>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="bg-gray-50 px-5 py-3">
      <div class="text-sm">
        <a href="#" class="font-medium text-notebook-blue hover:text-blue-700">
          You're on a 34-day streak!
        </a>
      </div>
    </div>
  </div>

</div>