<ul class="nav nav-tabs">
  <li><a href="/login">Log in</a></li>
  <li><a href="/register">Sign up</a></li>
  <li class="active"><a href="/be-anonymous">Be Anonymous</a></li>
</ul>

<p class="lead">
	Going anonymous allows you to enjoy all the tools of the site without having to 
	create an account.
</p>

<p>
	This means you can plan out characters, use the editors, critique other works, 
	search for publishers, and use any other tools any time you'd like. However,
	this also means that nothing you create will be tied to a persistent account.
	<strong>You will not have access to any saved plans, 
	stories, or other content you create after logging out of your anonymous 
	account.</strong>
	
	<p>
		<%= link_to 'I understand, log me in anonymously.', :anonymous_login, :class => "btn btn-large btn-primary" %>
	</p>
</p>
