<div class="card">
	<ul class="nav nav-tabs">
	  <li><a href="/login">Log in</a></li>
	  <li><a href="/register">Sign up</a></li>
	  <li class="active"><a href="/be-anonymous">Be Anonymous</a></li>
	</ul>

	<div class="card-body">
		<p class="lead">
			You can enjoy all the tools of the site without having to create an account.
		</p>

		<p>
			This means you can plan out characters, locations, magic, languages, and universes any time you'd like. And after you're done (or as you go), you can easily give the account a username and password to let you come back later.
			
			<p style="text-align: center; margin-top: 40px;">
				<%= link_to 'I understand, create an account for me', :anonymous_login, :class => "btn btn-large btn-primary" %>
			</p>
		</p>
	</div>
</div>