<%- model_class = @user.class -%>
<div class="card">
  <h3 class="card-heading simple">Edit your account information</h3>
  <div class="card-body">
    <%= render :partial => 'form' %>
  </div>
</div>