<div class="well">
	<h4>Nobody likes losing the things they make.</h4>
	<p>
		In order to let you come back to your own content (and make sure it's only <em>you</em> who can see it!), you need
		to create an account before you begin planning anything. Luckily it's pretty painless &ndash; just the three fields below, and you don't even need to verify your email!
	</p>
</div>

<ul class="nav nav-tabs">
  <li><a href="/login">Log in</a></li>
  <li class="active"><a href="/register">Sign up</a></li>
  <li><a href="/be-anonymous">Be Anonymous</a></li>
</ul>

<%- model_class = @user.class -%>
<%= render :partial => 'form' %>
