<div class="card">
	<ul class="nav nav-tabs">
	  <li><a href="/login">Log in</a></li>
	  <li class="active"><a href="/register">Sign up</a></li>
	  <li><a href="/be-anonymous">Be Anonymous</a></li>
	</ul>

	<%- model_class = @user.class -%>
	<%= render :partial => 'form' %>
</div>