<div class="card">
  <div class="card-content">
    <h4>To delete your account</h4>
    <p>
      This action is <span class="red-text">IRREVERSIBLE</span>. Your account and all of your content
      will be immediately and permanently deleted. We will miss you!
    </p>
    <p>
      <br />
      <a class="waves-effect waves-light btn red modal-trigger" href="#modal1">Delete my account</a>

      <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Delete my account</h4>
          <p>
            I, <%= current_user.email %>, want to delete my account in full. I understand that my entire account,
            as well as any and all content created by me, including any content I've contributed to other
            universes but still own, will be immediately and permanently deleted and will not be recoverable.
          </p>
          <p>
            I understand all of my posts on <%= link_to 'the forums', thredded_path %> will also be deleted.
          </p>
          <br /><br />

          <div class="row">
            <div class="col s12 m6">
              <h5>Do you need support instead?</h5>
              <p>
                You can <a href="https://docs.google.com/forms/d/e/1FAIpQLSe0jnqJlcPJDqwogGere5j8-8F1nSGGYkzbsI-XkOeMnGwLrA/viewform">
                  report a problem</a> (available under the question-mark menu on any page) or reach out
                  directly to an<span>dre</span>w<span></span>@<em></em>indent<span>labs</span>.com. I would be happy to help!
              </p>
            </div>
            <div class="col s12 m6">
              <h5>
                Do you want to leave feedback?
              </h5>
              <p>
                We listen to any and all feedback, no matter how small or large.
              </p>
              <p>
                <br /><br />
                <%= link_to 'Leave feedback', 'https://docs.google.com/forms/d/e/1FAIpQLScZWEVMgm8hBWIIVj1LPzo0GqflmWUrLQlc4TAYqsaS087oAA/viewform', class: 'btn' %>
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= link_to delete_my_account_path, class: 'modal-action modal-close waves-effect waves-green btn-flat', method: :DELETE do %>
            Delete my account
          <% end %>
        </div>
      </div>
    </p>
  </div>
</div>
