<div class="card">
  <div class="card-content">
    <h4>Your Notebook.ai design</h4>
    <div class="field">
      <%= f.check_box :fluid_preference %>
      <%= f.label :fluid_preference do %>
        I want to use <strong>full-width</strong> Notebook.ai. Great for small screens, but not so much for very large ones.
      <% end %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h4>Email preferences</h4>
    <div class="field">
      <%= f.check_box :email_updates %>
      <%= f.label :email_updates do %>
        I want to receive occasional updates by email about new Notebook.ai features.
      <% end %>
    </div>
  </div>
</div>
