<div id="content-sidebar">
  <ul id="collapsible content-scroller">
    <li>
      Universe 1
      <ul>
        <li>Characters</li>
      </ul>
    </li>
  </ul>

  <ul class="sidebar-actions">
    <li>Recently edited</li>
    <li>Filter notebook</li>
  </ul>
</div>
