<%
  creating = defined?(creating) && creating
  editing  = defined?(editing)  && editing
%>

<ul class="collection content-tabs">
  <li class="active center grey-text uppercase">
    Tools
  </li>

  <li class="collection-item">
    <%= link_to basil_content_path(content_type: content.class_name, id: content.id) do %>
      <i class="material-icons left">palette</i>
      Image Generation
    <% end %>
  </li>
</ul>
