<div class="nested-fields">
  <%= f.fields_for :contributors do |ff| %>
    <div class="row">
      <div class="col s11">
        <div class="input-field">
          <%= ff.label 'Contributor email address' %><br />
          <%= ff.text_field :email, name: 'contributors[email][]' %>
        </div>
      </div>

      <div class="col s1">
        <br />
        <br />
        <%= link_to_remove_association f do %>
          <i class="material-icons red-text" style="position: relative; top: 10px; left: -15px;">close</i>
        <% end %>
      </div>

    </div>
  <% end %>
</div>
