<% if PromoService.active?(:promo_bogo) %>
  <% if show_notice?(id: 6) %>
    <div class="col s12">
      <div class="hoverable card-panel orange lighten-5 black-text">
        <%= link_to 'Dismiss this notice.', notice_dismissal_dismiss_path(notice_id: 6), class: 'blue-text right', style: 'padding: 0 10px;' %>
        <%= link_to prepay_path, class: 'black-text' do %>
          <i class="material-icons left">card_giftcard</i>
          Limited-time Discount: Stay safe and stay home while worldbuilding with friends! Shareable 3-month and 6-month Premium Codes are buy-one-get-one-free until
          <%= PromoService.end_date(:promo_bogo).strftime("%B %-d") %>. Click this banner to get started.
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>