<% if show_notice?(id: 8) && false %>
  <div class="col s12">
    <div class="hoverable card-panel blue lighten-5 black-text">
      <%= link_to 'Dismiss this notice.', notice_dismissal_dismiss_path(notice_id: 8), class: 'blue-text right', style: 'padding: 0 10px;' %>
      <%= link_to customization_content_types_path, class: 'black-text' do %>
        <i class="material-icons left <%= Lore.text_color %>"><%= Lore.icon %></i>
        <strong>New in Notebook.ai</strong>: Create books, legends, stories, and more in your world with the premium Lore page.<br />
        To celebrate, Lore pages will also be available for all free users to create until April 21.
      <% end %>
    </div>
  </div>
<% end %>