<% if show_notice?(id: 9) %>
  <div class="card-panel blue lighten-5">
    <i class="left material-icons grey-text">help</i>
    Links will automatically appear here whenever you add this page to a public collection.<br />
    Only you can see this message. 
    <%= link_to 'Dismiss this message', notice_dismissal_dismiss_path(notice_id: 9) %>.
  </div>
<% end %>
