<% if show_notice?(id: 10) %>
  <div class="card-panel blue lighten-5 black-text">
    <i class="left material-icons grey-text">help</i>
    Documents will automatically appear here whenever you add this page to a document.<br />
    Only you can see this message. 
    <%= link_to 'Dismiss this message', notice_dismissal_dismiss_path(notice_id: 10) %>.
  </div>
<% end %>