<% if show_notice?(id: 12) %>
  <div class="card-panel <%= ContentPageShare.color %> lighten-5 black-text">
    Welcome to your <strong>Stream</strong>!<br /><br />

    When you share a page, you can include a message or question that others will see. Any user that follows you will see your shares in their stream
    &mdash; and people around the world can see everyone else's shares in the "Around the World" stream, too!

    <%= link_to 'Dismiss this message', notice_dismissal_dismiss_path(notice_id: 12) %>.
  </div>
<% end %>
