<% if current_user.notice_dismissals.where(notice_id: 13).none? %>
  <div class="row">
    <div class="col s12">
      <div class="card-panel <%= Timeline.color %> lighten-4 black-text">
        <strong>How to create timelines</strong>: Just create events and write stuff, then you can reorder them and link pages and stuff. 
        You can see them as an outline in documents. Your changes will automatically save. 
        <%= link_to 'Dismiss this message', notice_dismissal_dismiss_path(notice_id: 13) %>.
      </div>
    </div>
  </div>
<% end %>