<% if show_notice?(id: 14) %>
  <div class="card-panel blue lighten-5">
    <i class="left material-icons grey-text">help</i>
    Timelines will automatically appear here whenever you link this page to those timelines in Notebook.ai.
    Only you can see this tab. 
    <%= link_to 'Dismiss this message', notice_dismissal_dismiss_path(notice_id: 14) %>.
  </div>
<% end %>