<% if show_notice?(id: 15) %>
  <div class="card-panel <%= PageCollection.color %> lighten-5">
    <p>
      Collections on Notebook.ai are a brand new feature and I'd love to get your feedback on how you would like to use them.
      <%= link_to 'To leave feedback, click here.', 'https://docs.google.com/forms/d/e/1FAIpQLScCPsoJxLxOC_nY3nMrtENja33lnMXNDrZLtWOxS2BYCNlpCQ/viewform?usp=sf_link' %>
      After dismissing this message, you can also find a link to the feedback form in the <%= link_to 'Help center', help_center_path %>.
    </p>

    <p>
      <%= link_to 'Dismiss this message', notice_dismissal_dismiss_path(notice_id: 15) %>.
    </p>
  </div>
<% end %>