<% if show_notice?(id: 16) %>
  <div class="hoverable card-panel purple lighten-5 black-text">
    <i class="material-icons left large <%= Universe.text_color %>"><%= Universe.icon %></i>
    <div>
      You can focus on a specific universe at any time by clicking one of the buttons below or selecting your desired universe (or all universes) in the site sidebar.
    </div>
    <p>
      When you focus on a universe, you'll only see content from that universe.
    </p>

    <%= link_to 'Dismiss this message.', notice_dismissal_dismiss_path(notice_id: 16), class: 'blue-text right' %>
    <div class="clearfix"></div>
  </div>
<% end %>