<% if Date.current <= 'November 9, 2022'.to_date && show_notice?(id: 6) %>
  <div class="col s12 m5 l4">
    <div class="grey-text uppercase center">
      Free for everyone
    </div>
    <%= link_to main_app.customization_content_types_path do %>
      <div class="card-panel hoverable">
        <div class="valign-wrapper black-text">
          <i class="material-icons grey-bordered-text <%= Government.text_color %>" class="left" style="font-size: 3em; margin-right: 0.3em;"><%= Government.icon %></i>
          <div>
            Government pages are free to create for all users until November 17.<br />
            <small>Just turn them on and start creating!</small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>