<% if Date.current <= 'December 15, 2022'.to_date && show_notice?(id: 18) %>
  <div class="col s12 m5 l4">
    <div class="grey-text uppercase center">
      Happening now
    </div>
    <%= link_to 'https://medium.com/indent-labs/utopian-dream-or-dystopian-rule-93abf25ad4eb' do %>
      <div class="card-panel hoverable <%= Government.color %> white-text">
        <div class="valign-wrapper">
          <i class="material-icons" class="left" style="font-size: 3em; margin-right: 0.3em;"><%= Government.icon %></i>
          <div>
            <div style="margin-bottom: 1em">Submit a government by December 15 to win 6 months of free Premium.</div>
            Government pages are free to create during this worldbuilding competition!
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>