<div class="card-panel orange black-text lighten-3">
  <div style="font-size: 1.4rem">
    <strong>Welcome to Notebook.ai's new image generator</strong>
  </div>

  <p>
    This tool exists to generate images for your Notebook.ai pages. Images can
    vary wildly in quality and are meant to serve as inspiration or reference
    material for your ideas.
  </p>
  <p>
    To generate an image of this <%= @content.try(:page_type) || 'page' %>,
    simply click a style below. Once the image has generated, you can move it
    to your <%= link_to @content.try(:name), @content.view_path %> page by clicking "Save" on any image.
  </p>
  <p>
    <i class="material-icons left medium purple-text">celebration</i>
    Image generation is a Premium feature, but is free for everyone to use for
    the entire month of April. Images created during this time are yours to keep
    forever!
  </p>

  <p>
    <%= link_to 'Dismiss this message', notice_dismissal_dismiss_path(notice_id: 19), class: 'right blue-text text-darken-3' %>
  </p>
</div>