<div class="card-panel orange black-text lighten-3">
  <div style="font-size: 1.4rem">
    <strong>Welcome to Notebook.ai's new image generator</strong>
  </div>

  <p>
    This tool exists to generate images for your Notebook.ai pages. Images can
    vary wildly in quality and are meant to serve as inspiration or reference
    material for your ideas.
  </p>
  <p>
    To generate an image of this <%= @content.try(:page_type).try(:downcase) || 'page' %>,
    simply click a style below. Once the image has generated, you can move it
    to your <%= link_to @content.try(:name), @content.view_path %> page by clicking "Save" on any image.
    Only your most recent 10 generations are shown here, so make sure to save any you want to keep!
  </p>
  <% if Date.current <= 'April 20, 2023'.to_date %>
    <p>
      <i class="material-icons left medium purple-text">celebration</i>
      Image generation is a Premium feature, but is free for everyone to use until
      April 14<sup>th</sup>. Images created during this time are yours to keep forever!
    </p>
  <% end %>

  <p>
    <%= link_to 'Dismiss this message', notice_dismissal_dismiss_path(notice_id: 19), class: 'right blue-text text-darken-3' %>
  </p>
</div>