<div class="col s12 m5 l4">
  <div class="grey-text uppercase center">
    Happening now
  </div>
  <%= link_to jam_path do %>
    <div class="card-panel hoverable pink white-text" style="margin-bottom: 0">
      <div class="valign-wrapper">
        <i class="material-icons" class="left" style="font-size: 3em; margin-right: 0.3em;">face_2</i>
        <div>
          Join our free Character VizJam event until June 31st!
        </div>
      </div>
    </div>
  <% end %>
  <div style="margin-bottom: 2em;">
    <%= link_to 'dismiss message', notice_dismissal_dismiss_path(notice_id: 22), class: 'right' %>
  </div>
</div>
