<div class="col s12 m5 l4">
  <div class="grey-text uppercase center">
    See what's new
  </div>
  <%= link_to basil_path do %>
    <div class="card-panel hoverable purple white-text" style="margin-bottom: 0">
      <div class="valign-wrapper">
        <i class="material-icons" class="left" style="font-size: 3em; margin-right: 0.3em;">palette</i>
        <div>
          Visualize your notebook pages for free during the entire month of June!
        </div>
      </div>
    </div>
  <% end %>
  <div style="margin-bottom: 2em;">
    <%= link_to 'dismiss message', notice_dismissal_dismiss_path(notice_id: 23), class: 'right' %>
  </div>
</div>