<% religions = Artifactship.where(artifact_id: content.id).map(&:religion).select { |content| content.readable_by?(current_user || User.new) } %>
<% if religions.any? %>
  <div class="col s12 m6 l4">
    <%= render partial: 'content/cards/in_universe_content_list', locals: {
      content_type: :religion,
      content_list: religions,
      card_title: "Artifact of #{pluralize(religions.count, 'religion')}"
    } %>
  </div>
<% end %>

<% groups = GroupEquipmentship.where(equipment_id: content.id).map(&:group).select { |content| content.readable_by?(current_user || User.new) } %>
<% if groups.any? %>
  <div class="col s12 m6 l4">
    <%= render partial: 'content/cards/in_universe_content_list', locals: {
      content_type: :group,
      content_list: groups,
      card_title: "Equipment for #{pluralize(groups.count, 'group')}"
    } %>
  </div>
<% end %>

<% groups = KeyItemship.where(key_item_id: content.id).map(&:group).select { |content| content.readable_by?(current_user || User.new) } %>
<% if groups.any? %>
  <div class="col s12 m6 l4">
    <%= render partial: 'content/cards/in_universe_content_list', locals: {
      content_type: :group,
      content_list: groups,
      card_title: "Key item for #{pluralize(groups.count, 'group')}"
    } %>
  </div>
<% end %>

<% scenes = SceneItemship.where(scene_item_id: content.id).map(&:scene).select { |content| content.readable_by?(current_user || User.new) } %>
<% if scenes.any? %>
  <div class="col s12 m6 l4">
    <%= render partial: 'content/cards/in_universe_content_list', locals: {
      content_type: :scene,
      content_list: scenes,
      card_title: "Appears in #{pluralize(scenes.count, 'scene')}"
    } %>
  </div>
<% end %>