<% content_to_show = Rails.application.config.content_types[:all_non_universe] %>

<% content_to_show.each do |content_type| %>
  <% next if @content.send(content_type.name.downcase.pluralize).empty? %>

  <div class="col s12 m12 l4">
    <%= render partial: 'content/cards/in_universe_content_list', locals: {
      content_type: content_type.name.downcase.to_sym,
      content_list: @content.send(content_type.name.downcase.pluralize)
    } %>
  </div>
<% end %>
