<% badge_style = 'padding: 3px 5px; font-size: 70%; font-weight: normal;' %>

<% if user.selected_billing_plan_id == 2 %>
  <span style="<%= badge_style %>; background: #dedeff">Beta Tester</span>
<% elsif user.selected_billing_plan_id == 3 %>
  <span style="<%= badge_style %>; background: #ffdede">Early Adopter</span>
<% elsif [4, 5, 6].include? user.selected_billing_plan_id %>
  <span style="<%= badge_style %>; background: #ffffaa">Premium Supporter</span>
<% end %>
