<div class="card hoverable">
  <div class="card-image">
    <%= image_tag 'card-headers/characters.jpg' %>
    <span class="card-title">Create characters</span>
  </div>
  <div class="card-content">
    <p>
      Plan physical appearance, behaviorisms, social roles, family &ndash; even a favorite color!
    </p>
  </div>
</div>