<%# Use this partial with <% render partial: this, locals: { content_type: Character } %>
<%
  content_name = content_type.name.downcase
%>

<div class="card hoverable" style="min-height: 330px;">
  <div class="card-image">
    <%= image_tag "card-headers/#{content_name.pluralize}.jpg", height: 300, width: 300 %>
    <span class="card-title">Create <%= content_name == "magic" ? 'magic' : content_name.pluralize %></span>
  </div>
  <div class="card-content">
    <p>
      <%= t("content_descriptions.#{content_name}") %>
    </p>
  </div>
</div>
