<%# Use this partial with <% render partial: this, locals: { content_type: Character } %>
<%
  content_name = content_type.name.downcase
%>

<%= link_to send("#{content_name}_worldbuilding_info_path"), class: 'black-text' do %>
  <div class="bg-white p-6 rounded-lg hover:shadow-lg">
    <%= image_tag "card-headers/#{content_name.pluralize}.webp", height: 300, width: 300, class: 'h-64 rounded w-full object-cover object-center mb-6' %>
    <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">
      FREE FOR ALL USERS
    </h3>
    <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
      Create <%= content_name == "magic" ? 'magic' : content_name.pluralize %>
    </h2>
    <p class="leading-relaxed text-base">
      <%= t("content_descriptions.#{content_name}") %>
    </p>
  </div>
<% end %>