<%# Use this partial with <% render partial: this, locals: { content_type: Character } %>
<%
  content_name = content_type.name.downcase
%>

<%= link_to send("#{content_name}_worldbuilding_info_path"), class: 'black-text' do %>
  <div class="card hoverable" style="min-height: 330px;">
    <div class="card-image">
      <%= image_tag "card-headers/#{content_name.pluralize}.webp", height: 300, width: 300, style: 'object-fit: cover' %>
      <h3 class="card-title bordered-text">Create <%= content_name == "magic" ? 'magic' : content_name.pluralize %></h3>
    </div>
    <div class="card-content fixed-card-content">
      <p>
        <%= t("content_descriptions.#{content_name}") %>
      </p>
    </div>
  </div>
<% end %>