<div class="card hoverable">
  <div class="card-image">
    <%= image_tag 'card-headers/items.jpg' %>
    <span class="card-title">Track items</span>
  </div>
  <div class="card-content">
    <p>
    	Every weapon was made by someone, and every book has an owner. Keep track of every aspect of your items.
    </p>
  </div>
</div>