<div class="card hoverable">
  <div class="card-image">
    <%= image_tag 'card-headers/items.jpg' %>
    <span class="card-title">Track items</span>
  </div>
  <div class="card-content">
    <p>
      Every weapon was made by someone; every book has a story. Track of every aspect of your items.
    </p>
  </div>
</div>