<% unless messages.blank? %>
  <div class="mb-4 p-4 text-sm font-medium text-red-800 rounded-lg bg-red-50 dark:bg-red-900/30 dark:text-red-300 dark:border dark:border-red-800/50" role="alert">
    <%= safe_join messages, raw("<br>") %>
  </div>
<% end %>
