<div class="max-w-6xl mx-auto px-4 py-8">
  <% if @analysis.present? %>
    <% if @analysis.complete? %>
      <%= render partial: 'documents/analysis/display',    locals: { document: @document, analysis: @analysis } %>

      <div class="bg-blue-50 border border-blue-200 text-gray-900 rounded-lg p-4 mb-6">
        <%= link_to 'Leave feedback', 'https://docs.google.com/forms/d/e/1FAIpQLScjWJfW2p9LoGfKe9uEn4xWvve-AhX3QtY7hqm7BCyyK0HdRA/viewform?usp=sf_link', class: 'bg-white border text-gray-900 px-4 py-2 rounded hover:bg-gray-50 transition float-right text-sm', target: '_new' %>
        <span class="text-sm">Document analysis is a new feature and uses your feedback to improve.</span>
      </div>
    <% else %>
      <%= render partial: 'documents/analysis/processing', locals: { document: @document, analysis: @analysis } %>
    <% end %>
  <% else %>
    <%= render partial: 'documents/analysis/no_analysis',  locals: { document: @document } %>
  <% end %>
</div>
