<% set_meta_tags title: @document.title, description: truncate(@document.body) %>

<%= content_for :full_width_page_header do %>
  <%= render partial: 'documents/components/document_name_bar', locals: { document: @document } %>
  <div id="editor"><%= ContentFormatterService.substitute_content_links(clean_links(@document.body.try(:html_safe)) || "", current_user).html_safe %></div>
<% end %>
