<%#
  TODO: everything here (probably) should move to the ContentSerializer so we don't have this
        heavy logic in a random partial
%>
<div id="in_this_universe_panel" class="panel">
  <div class="uppercase grey-text center">This universe contains...</div>

  <% @sidelinks_in_this_universe_count = 0 %>
  <%= render partial: 'content/contexts/universe', locals: { content: content } %>
</div>
