<div id="shares_panel" class="row panel">
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <div class="card-panel blue lighten-5">
        <i class="left material-icons grey-text">help</i>
        Links will automatically appear here whenever you share this page to your followers.<br />
        Only you can see this message. <%= link_to 'Dismiss this message', '#' %>.
      </div>

      <% if content.content_page_shares.any? %>
        <ul>
          <% content.content_page_shares.each do |share| %>
            <%= link_to [share.user, share] do %>
              <li class="card-panel hoverable">
                <blockquote><%= share.message %></blockquote>
                <div class="grey-text">shared <%= time_ago_in_words share.shared_at %> ago</div>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>