<div class="row">
  <div class="col s12">
    <% klass = @content_type_class.new.send(field.old_column_source).klass %>
    <% klass_name = klass.name %>

    <div class="card-panel <%= klass.color %>">
      <div class="valign-wrapper white">
        <i class="material-icons" style="margin: 0 10px;">link</i>
        Links to
        <%= 
          link_to(
            klass_name, 
            attribute_customization_path(content_type: klass_name.downcase), 
            style: 'padding: 0.3em',
            class: "#{klass.color}-text"
          )
        %>
        pages
      </div>
    </div>
  </div>
</div>