<% if user_signed_in? && current_user != @user %>
  <div class="collection with-header hoverable">
    <div class="collection-header blue lighten-1 white-text">
      <div style="padding: 5px 10px">
        Actions
      </div>
    </div>

    <%= link_to Thredded::UrlsHelper.send_private_message_path(current_user: current_user, to: @user), class: 'collection-item' do %>
      Send a message
      <span class="secondary-content">
        <i class="material-icons black-text">forum</i>
      </span>
    <% end %>
  </div>
<% end %>
