<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <%= image_tag @user.image_url(250).html_safe, class: 'activator', style: 'width: 100%' %>
  </div>
  <div>
    <%= render partial: 'users/profile/name' %>
  </div>

  <% if user_signed_in? && current_user == @user %>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
      <p>Profile pictures are powered by <%= link_to 'Gravatar', 'https://gravatar.com/', target: "_blank" %>, using the email you provided in your <%= link_to 'account settings', edit_user_registration_path %>.</p>
      <p>For the prettiest profile, please use an avatar at least 250 pixels wide.</p>
    </div>
  <% end %>
</div>
