<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <%= image_tag @user.image_url(400).html_safe, style: 'width: 100%' %>
  </div>
  <div>
    <%= render partial: 'users/profile/name' %>
  </div>
</div>
