<% if @user.favorite_page_type? && @favorite_content.count > 0 %>
  <%= link_to send("#{@user.favorite_page_type.downcase.pluralize}_user_path", {id: @user.id}), class: 'black-text' do %>
    <div class="card-panel hoverable <%= @accent_color %> lighten-3">
      <i class="material-icons left"><%= @accent_icon %></i>
      Check out my 
      <%= pluralize @favorite_content.count, @user.favorite_page_type.downcase %>
    </div>
  <% end %>
<% end %>