<h4 class="flow-text center" style="padding: 20px; padding-top: 0">
  <i class="material-icons <%= @accent_color %>-text left"><%= @accent_icon %></i>
  <%= @user.name %><br />

  <%= render partial: 'thredded/users/badge', locals: { user: @user } %>
</h4>
