<h4>
  <% if user_signed_in? && current_user.id == @user.id %>
    <span style="float: right; font-size: 50%; margin-top: 0;" class="card">
      <%= link_to 'Edit your profile', edit_user_registration_path(current_user), style: 'padding: 0 10px;', class: 'waves-effect' %>
    </span>
  <% end %>
  <%= @user.name %>
  <% if @user.username.present? %>
    <small class="grey-text">
      <%= link_to "@#{@user.username}", thredded_path %>
    </small>
  <% end %>
</h4>
