<div class="control-group">
  <%= fb.text_field :key, class: "text_field control-label custom-key", placeholder: "Key" %>
  <div class="controls">
    <div class="pull-right">
      <!--
      <i class="icon-remove remove-custom-field"></i>
      <%= fb.check_box :_destroy %>
      <%= fb.label :_destroy, "Remove" %>
      -->
    </div>
    <%= fb.text_field :value, class: "text_field custom-value", placeholder: "Value" %>
  </div>
</div>