<h4>You've created <%= @content.count %> characters</h4>
<%= render partial: 'content/list/list', locals: { content_list: @content } %>

<%= link_to 'Create another character', character_create_path, :class => 'btn' %>
