<h4>Create a new character</h4>
<%= form_for @content, :url => character_create_process_path do |form| %>
	<%= render partial: 'content/form', locals: { f: form, content: @content } %>
	<%= form.submit nil, :class => 'btn btn-primary' %>
<% end %>