<%
  raw_model = @content.is_a?(ContentSerializer) ? @content.raw_model : @content
%>
<% field[:value].each do |tag| %>
  <%
    if user_signed_in? && @content.user == current_user
      path = send("page_tag_#{raw_model.class.name.downcase.pluralize}_path", slug: PageTagService.slug_for(tag))
    elsif PageTagService.slug_for(tag).downcase == 'artfight2025'
      path = browse_tag_path(tag_slug: 'artfight2025')
    elsif @content.user.present? && @content.user.username.present?
      path = user_tag_path(username: @content.user.username, tag_slug: PageTagService.slug_for(tag))
    else
      path = send("page_tag_#{raw_model.class.name.downcase.pluralize}_path", slug: PageTagService.slug_for(tag))
    end
  %>
  <%= link_to path do %>
    <span class="inline-flex rounded-full items-center py-0.5 px-2.5 text-sm <%= @content.class.color %> text-white hover:opacity-80">
      <%= tag %>
    </span>
  <% end %>
<% end %>
