<%#
  todo do we want markdown support, simple_format, tags, mentions, etc?
%>

<div class="space-y-4">
  <%=
    simple_format ContentFormatterService.show(text: field[:value], viewing_user: current_user),
                  {},
                  wrapper_tag: 'div'
  %>
</div>