<%# todo: some smart resizing for 1-3+ images %>
<%# todo: lightbox on click %>

<div class="center">
  <% images = content.raw_model.image_uploads %>
  <% images.each do |image| %>
    <%= link_to image.src(:original), class: 'z-depth-1 hoverable', target: '_new' do %>
      <%= image_tag image.src(images.count == 1 ? :hero : :medium) %>
    <% end %>
  <% end %>
</div>
