<div class="nested-fields">
  <%= f.fields_for :image_uploads do |upload_form| %>
    <div class="row">
      <div class="col s11">
        <%= upload_form.label 'Select a file to upload' %>
        <div class="file-field input-field">
          <div class="btn white black-text">
            <span>Browse</span>
            <%= upload_form.file_field :src, name: "image_uploads[]" %>
          </div>
          <div class="file-path-wrapper">
             <input class="file-path validate" type="text" placeholder="Upload file">
          </div>
        </div>
      </div>
      <div class="col s1">
        <br />
        <br />
        <%= link_to_remove_association f do %>
          <i class="material-icons red-text" style="position: relative; top: 10px; left: -15px;">close</i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
