<%= content_for :full_width_page_header do %>
  <div class="parallax-header slider" style="height: 1px; position: relative; top: -1px">
    <ul class="slides">
      <li>
        <%= image_tag "card-headers/stream-world.jpg" %>
      </li>
    </ul>
  </div>
<% end %>

<br />

<% if user_signed_in? %>
  <div class="row">
    <div class="col s12">
      <%= render partial: 'content_page_shares/form' %>
    </div>
  </div>
<% end %>

<%= render partial: 'stream/share', collection: @feed %>

<% if @feed.empty? %>
  <div class="row">
    <div class='col s12'>
      <div class="hoverable card">
        <div class="card-content">
          <p class="card-title">
            There are no posts here yet!
          </p>
          <p>
            You can follow other worldbuilders from their profiles.
            Whenever a user you follow shares one of their public pages,
            it will appear here for you to comment on!
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>