<br />
<div class="row">
  <div class="col s12">
    <%= render partial: 'content_page_shares/form' %>
  </div>
</div>

<% @feed.each do |share| %>
  <%= render partial: 'content_page_shares/stream_item', locals: { share: share } %>
  <br /><br />
<% end %>
