<% 5.times do %>

<% content = Character.first %>

<div class="card row <%= content.class.color %> clearfix" style="height: 400px">
  <div class="col s12 m6 l6">

        <div class="card-image">
          <img src="https://materializecss.com/images/sample-1.jpg" />
          <span class="card-title"><%= content.name %></span>
        </div>

    <div class="card-content white" style="height: 400px">
      fuck
    </div>
  </div>
  <div class="col s12 m6 l6 <%= content.class.color %> lighten-4">
    <div class="card-content" style="height: 400px">
      right<br />
    </div>
  </div>
</div>

<% end %>