<div class="row" style="margin-top: 5%">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <div style="padding: 0 2em; padding-top: 1em">
        <%= image_tag 'logos/both-small.webp', class: 'hide-on-small-only', style: 'width: 100%' %>
        <%= image_tag 'logos/book-small.webp', class: 'hide-on-med-and-up', style: 'width: 100%' %>
      </div>
      <div class="card-content">
        <%= render 'devise/sessions/form' %>
      </div>
    </div>
  </div>
</div>
