<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <%= image_tag 'logos/both-small.png', class: 'hide-on-small-only', style: 'width: 100%' %>
      <%= image_tag 'logos/book-small.png', class: 'hide-on-med-and-up', style: 'width: 100%' %>
      <div class="card-content">
        <%= render 'devise/sessions/form' %>
      </div>
    </div>
  </div>
</div>
