<div class="row">
  <div class="col s12">
    Welcome to the new Data Vault
  </div>

  <div class="col s12">
    <%= link_to archive_path do %>
      <div class="hoverable card">
        <div class="card-content">
          <div class="card-title">Visit the archives</div>
          <p>
            You can archive your data now.
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col s12">
    <%= link_to recyclebin_path do %>
      <div class="hoverable card">
        <div class="card-content">
          <div class="card-title">Recover recently-deleted pages</div>
          <p>
            You can recover pages you've recently deleted for a short period of time.
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col s12">
    <%= link_to notebook_export_path do %>
      <div class="hoverable card">
        <div class="card-content">
          <div class="card-title">Export your data</div>
          <p>
            You can export your entire notebook in several formats.
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col s12">
    <%= link_to privacy_policy_path do %>
      <div class="hoverable card">
        <div class="card-content">
          <div class="card-title">View the Privacy Policy</div>
          <p>
            Read it
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>