<h4>
  <%= link_to data_vault_path, class: 'grey-text tooltipped', style: 'position: relative; top: 4px;', data: {
        position: 'bottom',
        enterDelay: '500',
        tooltip: "Back to your Data Vault"
      } do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
  Your years in review
</h4>

<div class="row">
  <% @years.each do |year| %>
    <div class="col s12 m6 l4">
      <%= link_to review_year_path(year) do %>
        <div class="hoverable card-panel center" style="border-top: 5px solid #2196F3">
          <h1 class="blue-text"><%= year %></h1>
          <p class="grey-text">
            Click to see your Notebook.ai activity for <%= year %>.
          </p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>