<% if Thredded.show_topic_followers %>
  <div class="thredded--topic-followers">
    <% if topic.followers.present? %>
      <%# t('thredded.topics.followed_by') %>
      <i class="material-icons tiny" style="position: relative; top: 2px;">people_alt</i>
      <%= pluralize topic.followers.count, 'follower' %>
      <%# topic.followers.each do |user| %>
        <%#= user_link(user) %>
      <%# end %>
    <% else %>
      <%= t('thredded.topics.followed_by_noone')%>
    <% end %>
  </div>
<% end %>