<% if Thredded.show_topic_followers %>
  <div class="thredded--topic-followers">
    <% if topic.followers.present? %>
      <%= t('thredded.topics.followed_by')%>
      <%= pluralize topic.followers.count, 'user' %>
      <%# topic.followers.each do |user| %>
        <%#= user_link(user) %>
      <%# end %>
    <% else %>
      <%= t('thredded.topics.followed_by_noone')%>
    <% end %>
  </div>
<% end %>