<ul class="nav nav-tabs">
  <li class="active tab"><%= link_to "General", "#", :id => "show_general" %></li>
  <li class="tab"><%= link_to "History", "#", :id => "show_history" %></li>
  <li class="tab"><%= link_to "Notes", "#", :id => "show_notes" %></li>
  <li class="tab"><%= link_to "Settings", "#", :id => "show_settings" %></li>
</ul>
