<%= render partial: 'content/show', locals: { content: @content } %>

<div class="col s12 m12 l4">
  <%= render partial: 'content/cards/in_universe_content_list', locals: { content_type: :character, content_list: @content.characters } %>
</div>

<div class="col s12 m12 l4">
  <%= render partial: 'content/cards/in_universe_content_list', locals: { content_type: :location, content_list: @content.locations } %>
</div>

<div class="col s12 m12 l4">
  <%= render partial: 'content/cards/in_universe_content_list', locals: { content_type: :item, content_list: @content.items } %>
</div>