<h4>You've created <%= @content.count %> items</h4>
<%= render partial: 'content/list/list', locals: { content_list: @content } %>

<%= link_to 'Create another item', new_item_path, :class => 'btn' %>
