<div class="card hoverable">
  <div class="card-image">
    <%= image_tag 'card-headers/locations.jpg' %>
    <span class="card-title">Construct locations</span>
  </div>
  <div class="card-content">
    <p>
    	Upload maps, link areas, track demographics, and keep track of history.
    </p>
  </div>
</div>