<div class="card hoverable">
  <div class="card-image">
    <%= image_tag 'card-headers/universes.jpg' %>
    <span class="card-title">Build universes</span>
  </div>
  <div class="card-content">
    <p>
    	You know you've always wanted to create <em>an entire universe</em>. Now's your chance!
    </p>
  </div>
</div>
