<%# Non-link tag that stands for skipped pages...
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="relative inline-flex items-center px-4 py-2 border border-gray-300 dark:border-white dark:border-opacity-10 bg-white dark:bg-white dark:bg-opacity-5 text-sm font-medium text-gray-700 dark:text-white dark:text-opacity-60">
  &hellip;
</span>