<%= form_with(model: content_page_share, local: true) do |form| %>
  <% if content_page_share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content_page_share.errors.count, "error") %> prohibited this content_page_share from being saved:</h2>

      <ul>
        <% content_page_share.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
