<div class="card hoverable">
  <div class="card-content">
    <span class="card-title">
      <i class="material-icons">help_outline</i>
      Enable premium pages
    </span>

    <p>
      You have a premium subscription! You can enable (or disable) any pages you like by clicking the button below.
    </p><br />

    <div style="text-align: center">
      <%= link_to 'Customize pages', main_app.customization_content_types_path, class: 'btn blue' %>
    </div>

  </div>
</div>
