.card {
  margin: 10px 0;
  padding-top: 15px;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;

  .card-heading {
    text-transform: capitalize;
    border-bottom: 1px solid #e5e5e5;
    color: #777;
    font-size: 20px;
    font-weight: 300;
    margin: 0 -15px;
    padding: 0px 35px 10px 35px;
  }
  
  .card-image {
    
  }
  
  .card-body {
    padding: 10px 20px;
    font-family: Roboto, arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #444444;

    h2 {
      font-size: 29px;
      small {
        font-size: 16px;
      }
    }
  }

  .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
  }
  
}
