.card-selector-group {
  .card-selector {
    cursor: pointer;

    &.active {
      background: #2196F3;
      color: white;
    }

    &:not(.active) {
      background: #E3F2FD;
      color: black;
    }
  }
}