.stream-item {
  img.avatar {
    margin-right: 0.75em;
  }

  blockquote {
    border-left: 5px solid #CE93D8;
  }

  .main-container {
    height: 400px;

    .card-image {
      height: 400px;

      img {
        height: 400px;
      }
    }

    .discussion-container {
      height: 400px;
      overflow-y: auto;
    }
  }

  .original-comment {
    padding: 10px 0 1px 10px;
  }

  form textarea {
    padding: 10px;
  }

  .comment {
    p {
      margin-bottom: 0.75em !important;
    }

    .metadata {
      .timestamp {
        float: right;
      }
    }
  }
}

.stream-discussion {
  img.avatar {
    margin-right: 0.75em;
  }
  
  $card-height:  100px;
  $icon-yoffset: -4.5rem;
  $icon-xoffset: -2rem;

  .card {
    .card-content {
      overflow: hidden;
      height:   $card-height;

      i.material-icons.right {
        margin-top:   $icon-yoffset;
        margin-left:  0;
        margin-right: $icon-xoffset !important;
      }
    }
  }

}