ul li.collection-item:hover .secondary-content {
  display: block !important;
}

table.content-table tr .secondary-content {
   visibility: hidden;
}

table.content-table tr:hover .secondary-content {
   visibility: visible;
}

p.long-form {
  margin-bottom: 16px;
}

.grey-text {
  i {
    font-size: 90%;
  }

  a {
    color: grey;
  }
}

.content-tabs {
  li.tab, li.fake-tab {
    margin: 0;
    padding: 0 !important;

    a {
      display: block;
      padding: 10px 20px;
    }
  }

  li:hover {
    a {
      color: red;
    }
  }
}

.content-field {
  min-height: 100px;

  textarea.materialize-textarea {
    height: 80px;
  }
}

.formatted-text {
  p {
    margin-bottom: 20px !important;
  }

  ul {
    list-style: initial;

    li {
      list-style-type: initial !important;
    }
  }

  ol {
    padding: 0;
  }
}

.markdownable {
  ul {
    padding-left: 40px !important;
    li {
      list-style-type: disc !important;
    }
  }

  p:not(:first-child) {
    margin-bottom: 18px !important;
  }
}

.spaced-paragraphs {
  p {
    margin-bottom: 18px !important;
  }
}

.changelog {
  td {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  margin-bottom: 30px;
}
