ul.hoverable li.collection-item .secondary-content {
  display: none;
}
ul.hoverable li.collection-item:hover .secondary-content {
  display: block;
}

table.content-table tr .secondary-content {
   visibility: hidden;
}

table.content-table tr:hover .secondary-content {
   visibility: visible;
}

p.long-form {
  margin-bottom: 16px;
}
