.js-enable-content-type .card:not(.active) {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

  .card-image > img {
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
  }
}

.js-enable-content-type .card:not(.active):hover {
  -webkit-filter: grayscale(75%); /* Safari 6.0 - 9.0 */
  filter: grayscale(75%);

  .card-image > img {
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
  }
}

.js-enable-content-type .enabled-badge {
  float: right;
  position: relative;
  top: -51px;
  right: 7px;
  z-index: 3;
}

.centered-card-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  text-align: center;
}
