ul li.collection-item:hover .secondary-content {
  display: block !important;
}

table.content-table tr .secondary-content {
   visibility: hidden;
}

table.content-table tr:hover .secondary-content {
   visibility: visible;
}

p.long-form {
  margin-bottom: 16px;
}

.grey-text {
  i {
    font-size: 90%;
  }

  a {
    color: grey;
  }
}

.content-tabs {
  li.tab {
    margin: 0;
    padding: 0 !important;

    a {
      display: block;
      padding: 10px 20px;
    }
  }

  li:hover {
    a {
      color: red;
    }
  }
}

.content-field {
  min-height: 140px;
}

.formatted-text {
  p {
    margin-bottom: 20px !important;
  }

  ul {
    list-style: initial;

    li {
      list-style-type: initial !important;
    }
  }

  ol {
    padding: 0;
  }
}

.markdownable {
  ul {
    padding-left: 40px !important;
    li {
      list-style-type: disc !important;
    }
  }
}