/*
  Regenerate this file with:

  (Rails.application.config.content_types[:all] + [Timeline, Document]).sort.each do |content_type|
    puts "
    ." + content_type.name.downcase + "-link {
      color: " + content_type.hex_color + ";
      border-bottom: 1px dashed " + content_type.hex_color + ";
    }
    "
  end
*/

.universe-link {
  color: #9C27B0;
  border-bottom: 1px dashed #9C27B0;
}

.character-link {
  color: #F44336;
  border-bottom: 1px dashed #F44336;
}

.location-link {
  color: #4CAF50;
  border-bottom: 1px dashed #4CAF50;
}

.item-link {
  color: #FFA000;
  border-bottom: 1px dashed #FFA000;
}

.building-link {
  color: #607D8B;
  border-bottom: 1px dashed #607D8B;
}

.condition-link {
  color: #CDDC39;
  border-bottom: 1px dashed #CDDC39;
}

.continent-link {
  color: #66BB6A;
  border-bottom: 1px dashed #66BB6A;
}

.country-link {
  color: #A1887F;
  border-bottom: 1px dashed #A1887F;
}

.creature-link {
  color: #795548;
  border-bottom: 1px dashed #795548;
}

.deity-link {
  color: #BBDEFB;
  border-bottom: 1px dashed #BBDEFB;
}

.flora-link {
  color: #4DB6AC;
  border-bottom: 1px dashed #4DB6AC;
}

.food-link {
  color: #F44336;
  border-bottom: 1px dashed #F44336;
}

.government-link {
  color: #388E3C;
  border-bottom: 1px dashed #388E3C;
}

.group-link {
  color: #00BCD4;
  border-bottom: 1px dashed #00BCD4;
}

.job-link {
  color: #795548;
  border-bottom: 1px dashed #795548;
}

.landmark-link {
  color: #FFA726;
  border-bottom: 1px dashed #FFA726;
}

.language-link {
  color: #2196F3;
  border-bottom: 1px dashed #2196F3;
}

.lore-link {
  color: #FFB74D;
  border-bottom: 1px dashed #FFB74D;
}

.magic-link {
  color: #FF9800;
  border-bottom: 1px dashed #FF9800;
}

.planet-link {
  color: #64B5F6;
  border-bottom: 1px dashed #64B5F6;
}

.race-link {
  color: #689F38;
  border-bottom: 1px dashed #689F38;
}

.religion-link {
  color: #3f51b5;
  border-bottom: 1px dashed #3f51b5;
}

.scene-link {
  color: #9E9E9E;
  border-bottom: 1px dashed #9E9E9E;
}

.school-link {
  color: #00BCD4;
  border-bottom: 1px dashed #00BCD4;
}

.sport-link {
  color: #FF9800;
  border-bottom: 1px dashed #FF9800;
}

.technology-link {
  color: #D32F2F;
  border-bottom: 1px dashed #D32F2F;
}

.town-link {
  color: #CE93D8;
  border-bottom: 1px dashed #CE93D8;
}

.tradition-link {
  color: #EF9A9A;
  border-bottom: 1px dashed #EF9A9A;
}

.vehicle-link {
  color: #81C784;
  border-bottom: 1px dashed #81C784;
}

.timeline-link {
  color: #4CAF50;
  border-bottom: 1px dashed #4CAF50;
}

.document-link {
  color: #009688;
  border-bottom: 1px dashed #009688;
}