.data-vault {
  $card-height:  160px;
  $icon-yoffset: -1.5rem;
  $icon-xoffset: -5rem;
  $icon-fsize:   13rem;

  .card {
    .card-content {
      overflow: hidden;
      height: $card-height;

      .card-title, p {
        color: black !important;
      }

      i.material-icons.right {
        font-size:    $icon-fsize;
        margin-top:   $icon-yoffset;
        margin-left:  0;
        margin-right: $icon-xoffset !important;
      }
    }
  }

}