.data-table {
  .icon-column {
    border-bottom: 1px solid white;

    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .title {
    font-size: 140%;

    small {
      font-size: 60%;
    }
  }

  tr:hover {
    background: #efefef;
  }

}
.dataTables_wrapper {
  .dataTables_filter {
    float: left !important;
    text-align: left !important;
  }
}
