#editor {
  min-height: 45em;
  max-width: 50em;

  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;

  border: 1px solid #dedede;
  padding: 5px 0;

  color: black;
  font-weight: 400;
  font-size: 1.125rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;

  p, div {
    margin-top: 0;
  }

  /* PAGES */
  background: white;
  padding: 30px;
  border-bottom: 1px solid grey;

  &:focus {
    border: 1px solid #dedede;
    outline: 0px solid transparent;
  }

  /* In-editor typography */
  h2 {
    font-size: 1.75em;
    font-weight: 500;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 40px;

    li {
      list-style-type: disc;
    }
  }
}

.mobile-navbar-spacer {
  margin-bottom: 40px;
}

/* Materialize hacks */
b, strong {
    font-weight: bolder !important;
}

.document-name-bar {
  .input-field.inline {
    margin-bottom: 0;
  }

  .row {
    margin-bottom: 0;
  }

  margin-bottom: 40px;
}

.smart-sidebar {
  opacity: 0.3;//1.0 /*0.4*/;

  position: fixed;
  right: 0;
  top: 120px;

  height: 100%;

  margin-top: 10px;

  .entities-container {
    float: right;

    .entity-trigger {
      display: block;

      margin-bottom: 0.5em;
      padding-left: 0.25em;
      padding-top: 0.5em;
      padding-right: 1em;
      padding-bottom: 0.25em;

      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;

      i.left {
        position: relative;
        bottom: 6px;
        left: 5px;
      }
    }
  }

  &:hover {
    opacity: 1.0;
  }
}

.quick-reference-sidenav {
  width: 500px !important;
  max-width: 100%;

  .user-view {
    height: 200px;

    .name {
      font-size: 28px !important;
      line-height: 1em !important;
    }

    .description {
      font-size: 20px !important;
    }
  }

  .reference-fields-container {
    padding: 0 20px !important;

    .reference-fields-list {
      li {
        line-height: 24px;

        a.subheader {
          padding-left: 0px;
        }
      }
    }
  }
}

.selectable {
  -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}