#editor {
  min-height: 400px;
  border: 1px solid #dedede;
  padding: 5px 0;
  margin-bottom: 60px;

  color: black;

  p {
    margin-top: 0;
  }

  /* PAGES */
  background: white;
  padding: 30px;
  border-bottom: 1px solid grey;
}

/* Materialize hacks */
b, strong {
    font-weight: bolder !important;
}

.document-name-bar {
  .input-field.inline {
    margin-bottom: 0;
  }

  .row {
    margin-bottom: 0;
  }

  margin-bottom: 40px;
}

.smart-sidebar {
  opacity: 0.4;

  &:hover {
    opacity: 1.0;
  }
}
