#editor {
  min-height: 45em;
  max-width: 50em;

  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 400px;

  border: 1px solid #dedede;
  padding: 5px 0;

  color: black;
  font-weight: 400;
  font-size: 1.125rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;

  p, div {
    margin-top: 0;
  }

  /* PAGES */
  background: white;
  padding: 30px;
  border-bottom: 1px solid grey;

  &:focus {
    border: 1px solid #dedede;
    outline: 0px solid transparent;
  }

  /* In-editor typography */
  h2 {
    font-size: 1.75em;
    font-weight: 500;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }
}

.mobile-navbar-spacer {
  margin-bottom: 40px;
}

/* Materialize hacks */
b, strong {
    font-weight: bolder !important;
}

.document-name-bar {
  .input-field.inline {
    margin-bottom: 0;
  }

  .row {
    margin-bottom: 0;
  }

  margin-bottom: 40px;
}

.smart-sidebar {
  opacity: 0.4;
  margin-top: 10px;  

  &:hover {
    opacity: 1.0;
  }
}
