body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  padding-bottom: 5em;
}

.speed-dial-fab {
  position: fixed;
  bottom: 1em;
  right: 1em;

  .MuiSpeedDialAction-staticTooltipLabel {
    min-width: 140px;
    text-align: right;
  }
}

.MuiTooltip-tooltip, .MuiTooltip-tooltipArrow {
  font-size: 16px !important;
}