.help-text {
	color: #999999;
}

.attribute-field-dropdown {
  position: absolute;
  top: 0;
  right: 0;
}

.input-select .select-wrapper {
	margin-top: 14px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
