#suggestions {
  margin-bottom: 10em;

  .suggestion-card {
    color: black;
    text-align: left;

    .suggestion p {
      margin-bottom: 1em !important;
    }
  }

}

#progress-bar {
  width: 50%;
  margin: 0 auto;
}