.perks-section {
  margin: 0;

  i[class=material-icons] {
    font-size: 120%;
  }
}

.audience-section {
  i[class=material-icons] {
    font-size: 150%;
  }

  .hoverable {
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 20px;
  }
}

.hero {
  position: relative;
  overflow: hidden;
  height: 40rem;
  color: white;

  .container {
    margin-top: 7em;
  }

  .hero-content {
    padding: 2rem;

    &.lower-left {
      bottom: 0;
    }
  }

  .hero-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .hero-image {
    display: block;
    opacity: 1;
    position: absolute;
    z-index: -1;
    left: 50%;
    bottom: -50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(-50%, 0px, 0px);
    transform: translate3d(-50%, 0px, 0px);
    filter: brightness(40%);

  }
}

.comparison-table {
  td, th {
    text-align: center;
  }

  th:first-child {
    text-align: left;
  }
}

#index-banner{
  h1 {
    font-size: 64px;
    margin-bottom: 0px;
  }

  h2 {
    font-size: 24px;
  }
}
