.perks-section {
  margin: 0;

  i[class=material-icons] {
    font-size: 120%;
  }
}

.hero {
  position: relative;
  overflow: hidden;
  height: 35rem;

  &--small {
    height: 24rem;

    .hero-image {
      -webkit-transform: translate3d(-50%, 400px, 0px) scale(0.7);
      transform: translate3d(-50%, 400px, 0px) scale(0.7);
    }
  }

  .hero-content {
    padding: 2rem;
    position: absolute;

    &.lower-left {
      bottom: 0;
    }
  }

  .hero-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .hero-image {
    display: block;
    opacity: 0.25;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(-50%, 300px, 0px);
    transform: translate3d(-50%, 300px, 0px);
  }
}
