.hero-header {
	padding: 0;
	margin: 0;
	margin-top: -20px;

	z-index: -10;
	height: 100%;
	overflow: hidden;

	text-align: center;

	img {
		max-height: 100%;

		opacity: 0.8;
	}

	.top {
		position: absolute;
		top: 25%;
		left: 0;
		z-index: 2;

		width: 100%;
		text-align: center;

		color: #322223;

		h1 {
			display: none;
		}

		a {
			font-size: 200%;
			margin: 0 auto;

			width: 500px;

			display: none;
		}
	}
}
