/* Always put dropdowns above all else, since they're transient and shown by intent */
.dropdown-content {
	z-index: 1001 !important;
}

/* Content header sliders */
.slider .slides li.active {
  z-index: 1 !important;
}

.slider {
  height: 140px;
  overflow: hidden;
}