.new-user-signup-form, .login-form{ 
  h2{
    margin:100px;
  }

  .login-card{
    margin-bottom:120px;
  }


  a.login-btn{
    width:100%;
    display:block;
    line-height:65px;
    border:1px solid #000;
    text-align:center;
    background-position:20px 15px;
    background-repeat:no-repeat;
    background-size:35px 35px;
    margin: 0px 0px 20px 0px;

    &.google{
      color: #616161;
      border-color:#bdbdbd;
      background-image:image-url("oauth-logo-google.png");
    }

  }

  .login-email-btn{
    position:relative;
    width:100%;
    i.material-icons{
      position:absolute;
      top:0px;
      left:30px;
    }
  }

  .email-signup{
    background:#eeeeee;
    max-height:0px;
    overflow:hidden;
    transition:max-height 300ms ease-in-out;
    color:#424242;
    label{ color:#757575 };
    &.active{ max-height:1000px; }
  }

}