/* This might be an issue later. */
.row .col {
  padding: 0 0.25rem !important;
}

@media only screen and (min-width: 1024px) {
  .fixed-card-content
  {
    height: 8em;
  }
}

@media only screen and (max-width: 1024px) {
  .fixed-card-content
  {
    height: 10em;
  }
}

body {
  background: #f4f4f4;
}
