.navbar-fixed-top {
  border-bottom: 1px solid #d8d8d8 !important;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;

  & a {
    color: #777777;
    &:hover {
      color: #000000;
    }
  }
}

