.dropdown-content {
	min-width: 400px !important;
}

@media only screen and (min-width: 993px) {
	body.has-fixed-sidenav {
    padding-left: 300px !important;

		nav.navbar.logged-in {
			width: calc(100% - 300px);
		}
	}
}

@media only screen and (max-width: 993px) {
	body.has-fixed-sidenav {
	  padding-left: 0 !important;
	}
}

@media only screen and (min-width: 601px) {
	nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
	    height: 64px;
	    line-height: 64px;
	}
}

nav.navbar {
  z-index: 10;
  transition: box-shadow .3s, background-color .3s;
  padding: 0 20px;
  background-color: #fff;
  color: rgba(0,0,0,0.87);
}
