.tags-container {
  padding-top: 8px;

  .badge {
    margin-bottom: 4px;
    margin-left: 0;
    margin-right: 5px;
  }

}

.chip {
  i.material-icons {
    line-height: 26px;
  }
}

.show-when-focused {
  display: none;
}
