/* Pagebreak stuff */
div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak { page-break-inside: avoid; }

/* Text styling */
.center     { text-align: center; }
.centered   { margin: 0 auto; }
.text-right { text-align: right; }
.uppercase  { text-transform: uppercase; }

.grey-text { color: rgb(105, 105, 105); }

/* Text hierarchy */
.category-name { font-size: 1.2em; margin-top: 1em; margin-bottom: 0.75em; font-weight: bold;}
.field-name    { font-size: 1.1em; }

/* Structure */
.skip-quarter-page { padding-top: 250px; }
.skip-third-page   { padding-top: 330px; }
.skip-half-page    { padding-top: 470px; }

/* Inputs */
.underlined { border-bottom: 1px solid black; min-width: 100px; min-height: 2.5em; }
.quarter-page-width    { width: 225px; }
.third-page-width      { width: 300px; }
.half-page-width       { width: 450px; }
.two-thirds-page-width { width: 600px; }
