/* Pagebreak stuff */
div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak { page-break-inside: avoid; }

/* Styling */
.center { text-align: center; }
.uppercase { text-transform: uppercase; }