header, main, footer {
  padding-left: 310px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.side-nav {
  padding-top: 64px;

  .content-search {
    div {
      margin: 5px;
    }

    #search {
      border: 1px solid #ccc;
    }
  }

}
