.sidenav {
  li {
    display: block;
  }

  .logo-container {
    padding: 0 16px;
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    box-sizing: content-box;

    i.material-icons.right {
      position: relative;
      top: 8px;
      left: 26px;
    }
  }

  .collapsible .collapsible-header {
    text-transform: uppercase;
    height: 64px;
    line-height: 64px;

    .material-icons.left {
      margin-top: 8px;
    }
  }

  .collapsible .collapsible-header .chevron {
    float: right;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 20px 0 0 0;
    transition: transform .2s;
  }

  .collapsible>.active .collapsible-header .chevron {
    transform: rotate(-90deg);
  }
}

#page-lookup-list {
  min-width: 33em;
}