header, main, footer {
  padding-left: 310px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.side-nav {

  .content-search {
    div {
      margin: 5px;
    }

    #search {
      border: 1px solid #ccc;
    }
  }

}
/*
.dropdown-content {
  min-width: 300px !important;
}*/

.universe-filter-active {
  background: purple;
  min-height: 64px;
}

/*.navbar-fixed {
  margin-bottom: 15px;
}
*/