.plan-features {
	i {
		position: relative;
		top: 6px;
	}
}

.content-type-container {
	padding: 1rem;

	display: inline-block;
	width: 7rem;
	text-align: center;
}

.chip {
	.material-icons {
		position: relative;
		top: 4px;
	}
}
