@import "thredded";

#thredded--container {
  .thredded--navigation--search {
    margin-top: 4.5em;

    #q /* search input */ {
      padding-left: 16px;
    }

    @media only screen and (min-width: 600px) {
      #q /* search input */ {
        height: 19px;
      }
    }
  }

  .thredded--navigation-breadcrumbs {
    margin-top: 0.4em;
    padding-left: 0.1em;
    overflow: hidden;
    min-height: 3em;
    max-height: 60px;

    width: 50%;

    li {
      display: inline !important;
      float: left;
      padding-right: 4px;
      margin-right: 8px;
    }

    li a {
      padding: 0;
      line-height: 2rem;
    }
  }

  .thredded--scoped-navigation {
    left: 1rem;
    top: 1rem;
  }

  .thredded--scoped-navigation li a {
    padding: 0;
    line-height: 2rem;
    float: left;
  }

  .thredded--user-navigation {
    height: 2rem;
    margin: 1rem;
    border-bottom: 0;

    @media only screen and (max-width: 600px) {
      .thredded--user-navigation--item {
        padding-top: 0.5rem;
        padding-right: 0.5rem;
      }
    }

    .thredded--user-navigation--item a {
      padding: 8px 4px;
      line-height: 2rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .thredded--user-navigation {
      margin: 0;
    }
  }

  .thredded--post--user {
    color: black;

    a {
      color: #347a36;
    }
  }

  .thredded--currently-online {
    right: 100px;
    max-height: 80%;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 1px solid lightgrey;
  }

  .thredded--currently-online.thredded--is-expanded {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .thredded--new-topic-form {
    background: white;
    padding: 10px;
    padding-bottom: 0;
    border: 1px solid lightgrey;

    margin-bottom: 20px;
  }

  .thredded--topics--topic {
    background: white;
    padding: 4px 26px;
    border: 1px solid lightgrey;

    margin-bottom: 0.7rem;
  }

  .thredded--topics--posts-count {
    left: -1rem;
    top: 2px;
  }

  .thredded--topics--follow-icon {
    right: 0.2rem;
    top: 6px;
  }

  .thredded--pagination {
    background: white;
    padding: 0 0 10px 0;
  }

  .thredded--topic .thredded--post {
    background: white;
    padding: 10px;

    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
  }

  @media (min-width: 47.12501rem) {
    .thredded--post--avatar {
      top: 0;
    }
  }

  .thredded--messageboard {
    background: white;
    border-bottom: 1px solid lightgrey;
    margin: 2px;
  }
}

.thredded--main-header {
  nav {
    background: white;

    margin-bottom: 4rem;
    line-height: 3rem;
  }


  @media only screen and (min-width: 600px) {
    nav {
      height: 3rem;
    }
  }
}

.thredded--topic-header {
  .thredded--topic-header--title {
    margin-bottom:  0.4em;
  }
}

.thredded--main-container {
  // The padding and max-width are handled by the app's container.
  min-width: 80%;
  padding: 0;
  @include thredded-media-tablet-and-up {
    padding: 0;
  }
}

.thredded--form {
  input[type="checkbox"] {
    position: relative !important;
    opacity: 1 !important;
    pointer-events: inherit !important;
  }
}

.thredded--messageboard--byline {
  i.material-icons {
    font-size: 0.9em;
    color: grey;
  }
}

.thredded--post--content {
  padding-top: 0.6em !important;

  ul {
    list-style-type: inherit !important;
    padding-left: 40px !important;

    li {
      list-style-type: disc !important;
    }
  }
  ol {
    list-style-type: inherit !important;
    padding-left: 40px !important;

    li {
      list-style-type: decimal !important;
    }
  }
}

.muted-thredded-post {
  color: #616161;
  background-color: #f5f5f5 !important;
  border-bottom: 0 !important;
}

.thredded--post {
  .card-content {
    padding: 0 !important;
    padding-top: 5px !important;
  }
}
.thredded--topic-delete--wrapper {
  margin-top: 0.5rem !important;
  padding-top: 1rem !important;
}
