.uppercase {
  text-transform: uppercase;
}

#notifications-dropdown .notification-link {
  color: black;
}

h1.card-title,
h2.card-title,
h3.card-title {
  margin-top: 0;
}

.h1-size {
  font-size: 4.2rem;
  line-height: 110%;
  font-weight: 400;
}