.user-profile-ui {
  margin-top: 0 !important;

  .header-avatar {
    height: 100px !important;
    width: 100px !important;
    border-radius: 10px !important;
    margin-bottom: 16px;
  }

  .following-avatar {
    min-height: 100px;
    min-width: 100px;
    max-height: 200px;
    max-width: 200px;
  }

}