<style>
  th, td {
    text-align: center;
  }
</style>

<table>
  <tr>
    <th>Die</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
  </tr>

  <tr>
    <td>Human character</td>
    <td><i class="material-icons medium">child_friendly</i><br />Child</td>
    <td><i class="material-icons medium">accessibility</i><br />Adult</td>
    <td><i class="material-icons medium">wc</i><br />Couple</td>
    <td><i class="material-icons medium">escalator_warning</i><br />Parent & Child</td>
    <td><i class="material-icons medium">family_restroom</i><br />Family</td>
    <td><i class="material-icons medium">elderly</i><br />Elder</td>
  </tr>

  <tr>
    <td>Non-human character</td>
    <td><i class="material-icons medium">emoji_nature</i><br />Insect</td>
    <td><i class="material-icons medium">pest_control_rodent</i><br />Rodent</td>
    <td><i class="material-icons medium">pets</i><br />Cat</td>
    <td><i class="material-icons medium">pets</i><br />Dog</td>
    <td><i class="material-icons medium">android</i><br />Robot</td>
    <td><i class="material-icons medium">adb</i><br />Alien</td>
  </tr>

  <tr>
    <td>Communication style</td>
    <td><i class="material-icons medium">phone_iphone</i><br />Phone</td>
    <td><i class="material-icons medium">voicemail</i><br />Voicemail</td>
    <td><i class="material-icons medium">textsms</i><br />Texting</td>
    <td><i class="material-icons medium">forum</i><br />Conversation</td>
    <td><i class="material-icons medium">mail</i><br />Mail</td>
    <td><i class="material-icons medium">campaign</i><br />Yelling</td>
  </tr>

  <tr>
    <td>Profession</td>
    <td><i class="material-icons medium">anchor</i><br />Sailor</td>
    <td><i class="material-icons medium">biotech</i><br />Scientist</td>
    <td><i class="material-icons medium">point_of_sale</i><br />Cashier</td>
    <td><i class="material-icons medium">agriculture</i><br />Farmer</td>
    <td><i class="material-icons medium">follow_the_signs</i><br />Adventurer</td>
    <td><i class="material-icons medium">school</i><br />Teacher</td>
  </tr>

  <tr>
    <td>Transportation</td>
    <td><i class="material-icons medium">directions_run</i><br />On foot</td>
    <td><i class="material-icons medium">directions_bus</i><br />Bus</td>
    <td><i class="material-icons medium">directions_subway</i><br />Subway</td>
    <td><i class="material-icons medium">directions_car</i><br />Driving</td>
    <td><i class="material-icons medium">directions_boat</i><br />Boat</td>
    <td><i class="material-icons medium">airplanemode_active</i><br />Plane</td>
  </tr>

  <tr>
    <td>Setting</td>
    <td><i class="material-icons medium">ac_unit</i><br />Winter</td>
    <td><i class="material-icons medium">landscape</i><br />Mountains</td>
    <td><i class="material-icons medium">cake</i><br />Party</td>
    <td><i class="material-icons medium">beach_access</i><br />Beach</td>
    <td><i class="material-icons medium">school</i><br />School</td>
    <td><i class="material-icons medium">explore</i><br />Traveling</td>
  </tr>

  <tr>
    <td>Conflict</td>
    <td><i class="material-icons medium">healing</i><br />Injury</td>
    <td><i class="material-icons medium">local_fire_department</i><br />Fire</td>
    <td><i class="material-icons medium">local_police</i><br />Crime</td>
    <td><i class="material-icons medium">coronavirus</i><br />Sickness</td>
    <td><i class="material-icons medium">sports_kabaddi</i><br />Fight</td>
    <td><i class="material-icons medium">follow_the_signs</i><br />Adventure</td>
  </tr>

</table>

<div style="margin-top: 100px;">
  Potential icons:<br />
  <%
    %w(
      anchor build card_giftcard commute explore face favorite flight_takeoff gavel pan_tool pregnant_woman query_builder rowing shopping_cart
      support theaters tour today visibility work album hearing mic loop movie music_video radio videocam business forum mail email textsms voicemail biotech flag
      weekend airplanemode_active format_paint format_quote monetization_on headset headset_mic keyboard laptop phone_iphone point_of_sale router scanner security
      speaker toys tv watch sensor_door audiotrack bedtime brightness_5 brush camera_alt color_lens colorize landscape flare flash_on healing nature nature_people
      receipt_long vignette agriculture bike_scooter departure_board directions directions_bike directions_boat directions_bus directions_car directions_railway
      directions_run directions_subway directions_walk electric_scooter moped electrical_services ev_station fastfood handyman hotel local_bar local_florist
      local_fire_department local_gas_station local_grocery_store local_library local_police local_taxi local_shipping menu_book museum pedal_bike pest_control
      plumbing restaurant store_mall_directory subway train two_wheeler wine_bar campaign adb support_agent ac_unit airport_shuttle apartment bathtub
      beach_access carpenter casino pest_control_rodent fitness_center free_breakfast golf_course hot_tub house kitchen meeting_room night_shelter
      smoking_rooms sports_bar stroller bug_report cake construction coronavirus android emoji_events emoji_nature emoji_objects emoji_food_beverage
      engineering fireplace follow_the_signs luggage military_tech outdoor_grill psychology public school science sports_football sports_esports sports_kabaddi
      sports_tennis whatshot
    ).each do |icon|
  %>
    <i class="material-icons medium tooltipped" data-tooltip="<%= icon %>"><%= icon %></i>
  <% end %>
</div>
