<div class="grey-text autosave-bar">
  <i class="material-icons js-autosave-icon grey-text">save</i>
  <span class="js-autosave-status">
    This document will automatically save as you make changes.
    Highlight any text to bring up formatting options.
  </span>
</div>