<div class="autosave-bar">
  <div class="row">
    <div class="col s12">
      <span class="grey-text autosave-bar">
        <i class="material-icons js-autosave-icon grey-text">save</i>
        <span class="js-autosave-status">
          This document will automatically save as you make changes.
        </span>
      </span>
    </div>
  </div>
</div>
