<span class="document-name-bar white-text">
  <% if defined?(f) %>
    Editing
    <div class="input-field inline">
      <%=
        f.text_field :title,
          placeholder: 'Untitled document',
          value: document.try(:name) || 'Untitled document',
          class: 'white-text',
          style: 'font-size: 150%; border-bottom: 1px solid white;'
      %>
    </div>
  <% end %>
</span>
