<div class="smart-sidebar">
  <div class="entities-container">
    <% document.document_entities.each do |entity| %>
      <% entity_class = entity.entity_type.constantize %>
      <a href="#"
        class="entity-trigger tooltipped white-text <%= entity_class.color %> circle" 
        data-tooltip="Quick reference <%= entity.text %>" 
        data-position="left">
        <i class="material-icons small">
          <%= entity_class.icon %>
        </i>
      </a>
    <% end %>
  </div>
</div>