<hr />
<div>
  <h5 class="muted toggle-custom-fields"><i class="icon-chevron-down"></i> Advanced: Add your own fields to this tab</h5>
  <div class="more-fields-form custom-field-form">
    <br />
    <div class="btn btn-small add-custom-field">
      <i class="icon-plus"></i> Add Field
    </div>
    <br /><br />

    <div class="control-group">
      <input type="text" class="text_field control-label custom-key" placeholder="Key" />
      <div class="controls">
        <div class="pull-right"><i class="icon-remove remove-custom-field"></i> </div>
        <input type="text" class="text_field custom-value" placeholder="Value" />
      </div>
    </div>
  </div>
</div>
<hr />