<p>
  No analysis has been requested for this document.
</p>
<p>
  <%=
    link_to 'Request an analysis',
            queue_analysis_document_path(@document),
            class: 'btn orange white-text'
  %>
</p>
