<%= form_with(model: application_integration, local: true) do |form| %>
  <% if application_integration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application_integration.errors.count, "error") %> prohibited this application_integration from being saved:</h2>

      <ul>
        <% application_integration.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
