<div class="row">
  <div class="col s9">
    <div class="editor"></div>
  </div>
  <div class="col s3">
    <div class="card-container">Cards</div>
  </div>
</div>

<script>
  var editor = new MediumEditor('.editor', {});
  editor.subscribe('editableInput', function (data, editable) {
    console.log($(editable).text());
  });
</script>