<div class="bg-blue-400 text-white w-full flex justify-between sticky top-0 z-50">
  <div class="relative block lg:ml-8 text-xl border-transparent border-b-2 hover:border-white text-sm">
    <%= link_to 'Notebook.ai', root_path, class: 'block p-3 mt-1 tracking-wider hover:shadow-lg' %>
  </div>

  <ul class="flex lg:mr-8">
    <li class="border-transparent border-b-2 hover:border-white text-sm">
      <%= link_to 'Sign in', new_user_session_path, class: 'relative block mt-1 py-4 px-2 lg:px-6 text-sm lg:text-base hover:shadow-lg' %>
    </li>
    <li class="border-transparent border-b-2 hover:border-white text-sm">
      <%= link_to 'Sign up', new_user_registration_path, class: 'relative block mt-1 py-4 px-2 lg:px-6 text-sm lg:text-base hover:shadow-lg' %>
    </li>
  </ul>
</div>
