<ul id="recent-content-dropdown" class="dropdown-content">
<% if user_signed_in? %>
  <% @recently_edited_pages.each do |content| %>
    <% content_class = content_class_from_name(content.page_type) %>
    <li>
      <%= link_to main_app.send("#{content.page_type.downcase}_path", content.id), class: "#{content_class.text_color}" do %>
        <i class="material-icons left"><%= content_class.icon %></i>
        <%= content.name %>
      <% end %>
    </li>
  <% end %>
  <% if current_user.content_count > 0 %>
    <li class="divider"></li>
    <li class="grey lighten-3">
      <%= link_to 'More...', main_app.recent_content_path, class: 'blue-text' %>
    </li>
  <% end %>
<% end %>
</ul>
