<h2>
  <i class="material-icons <%= User.text_color %> left"><%= User.icon %></i>
  Fetch a user's active page types
</h2>
<div class="row">
  <div class="col s12 m6 l6">
    <h3>Endpoint</h3>
    <p class="code">
GET /api/v1/<%= User.name.downcase.pluralize %>/<span class="green-text">&lt;id&gt;</span>/active_page_types
    </p>
    <h3>Example call</h3>
    <ul class="collection">
      <li class="collection-item">
        <span class="title">
          <strong>application_token</strong>
          <span class="blue-text">string</span>
          <span class="red-text">required</span>
        </span>
        <p>
          The token for your application.
        </p>
      </li>
      <li class="collection-item">
        <span class="title">
          <strong>authorization_token</strong>
          <span class="blue-text">string</span>
          <span class="red-text">required</span>
        </span>
        <p>
          The authorization token for your user.
        </p>
      </li>
      <li class="collection-item">
        <span class="title">
          <strong class="green-text">id</strong>
          <span class="blue-text">integer</span>
          <span class="red-text">required</span>
        </span>
        <p>
          The ID of the <%= User.name.downcase %> you're fetching.  
        </p>
      </li>
    </ul>
  </div>
  <div class="col s12 m6 l6">
    <h3>Example response</h3>
    <p class="code">
{
  "id": 1,
  "name": "Alice Quinn",
  "username": "@alice",
  "active_page_types": [
    "Character",
    "Location",
    "Building",
    "Landmark",
    "Town",
    ...
  ]
}
    </p>
  </div>
</div>


