<% if analysis.document_categories.relevant.any? %>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
    <div>
      <h5 class="text-gray-500 text-xl font-semibold mb-4">Audience keywords</h5>
      <div class="flex flex-wrap gap-2">
        <% analysis.document_categories.relevant.each do |category| %>
          <span class="inline-block px-4 py-2 text-gray-900 rounded-full text-sm opacity-80" style="background-color: <%= Document.hex_color %>20">
            <%= category.terminal_category %>
          </span>
        <% end %>
      </div>
    </div>
    <div>
      <p class="text-sm text-gray-500 mt-11">
        Our AI is currently learning how to predict what audiences would enjoy your writing.
        This is our best guess so far.
      </p>
    </div>
  </div>
<% end %>