<% if analysis.document_categories.relevant.any? %>
  <h5 class="grey-text">Audiences</h5>
  <div class="row">
    <% analysis.document_categories.relevant.each do |category| %>
      <span class="badge <%= Document.color %> lighten-4 black-text left"><%= category.label %></span>
    <% end %>
  </div>
<% end %>