<h5 class="grey-text">Categories</h5>
<div class="row">
  <% analysis.document_categories.each do |category| %>
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            <%= category.label %>
          </div>
          <ul>
            <li>Relevance: <%= category.score %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
