<% if analysis.document_categories.relevant.any? %>
  <div class="row">
    <div class="col s12 m6">
      <h5 class="grey-text">Audience keywords</h5>
      <% analysis.document_categories.relevant.each do |category| %>
        <span class="badge <%= Document.color %> lighten-4 black-text left">
          <%= category.terminal_category %>
        </span>
      <% end %>
    </div>
    <div class="col s12 m6">
      <p class="help-text">
        Our AI is currently learning how to predict what audiences would enjoy your writing. 
        This is our best guess so far.
      </p>
    </div>
  </div>
<% end %>