<% if analysis.document_concepts.relevant.any? %>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
    <div>
      <h5 class="text-gray-500 dark:text-gray-400 text-xl font-semibold mb-4">External references</h5>
      <div class="flex flex-wrap gap-2">
        <% analysis.document_concepts.relevant.each do |concept| %>
          <%= link_to concept.reference_link, target: '_new', class: 'inline-block' do %>
            <span class="inline-block px-4 py-2 bg-gray-200 dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 text-gray-800 dark:text-gray-200 rounded-full text-sm transition">
              <%= concept.text %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div>
      <p class="text-sm text-gray-500 dark:text-gray-400 mt-11">
        When our AI detects that your story may be referencing a real-world concept, we include clickable reference chips here. Notebook.ai is not affiliated with any of the sites linked here.
      </p>
    </div>
  </div>
<% end %>