<% if analysis.document_concepts.relevant.any? %> 
  <div class="row">
    <div class="col s12 m6">
      <h5 class="grey-text">External references</h5>
      <% analysis.document_concepts.relevant.each do |concept| %>
        <%= link_to concept.reference_link, target: '_new' do %>
          <div class="chip">
            <%= concept.text %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col s12 m6">
      <p class="help-text">
        When our AI detects that your story may be referencing a real-world concept, we include clickable reference chips here. Notebook.ai is not affiliated with any of the sites linked here.
      </p>
    </div>
  </div>
<% end %>