<h5 class="grey-text">Concepts</h5>
<div class="row">
  <% analysis.document_concepts.each do |concept| %>
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            <%= concept.text %>
          </div>
          <ul>
            <li>Relevance: <%= concept.relevance %></li>
            <li>Reference: <%= link_to 'Reference', concept.reference_link %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
