<% if analysis.document_concepts.relevant.any? %> 
  <h5 class="grey-text">External references</h5>
  <div class="row">
    <% analysis.document_concepts.relevant.each do |concept| %>
      <%= link_to concept.reference_link, target: '_new' do %>
        <div class="chip">
          <%= concept.text %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>