<h5 class="grey-text">Style</h5>
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="card-title">Words per sentence</div>
        <div>
          <div id="graph-words-per-sentence"></div>
        </div>
      </div>
      <div class="card-action">
        <a class="activator blue-text text-darken-4">
          How to use this chart
        </a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          Words per sentence
          <i class="material-icons right">close</i>
        </span>
        <p>
          Sentence length can be a powerful tool in your writing, and you should
          use it purposefully. Longer sentences can lure a reader in, while shorter,
          more stacatto sentences keep that attention with fast-paced action.
        </p>
        <p>
          This chart shows the length, in words, of each sentence through your
          document. Groups of shorter sentences likely read faster, while groups
          of longer sentences may be dense or hard to read.
        </p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function () {

  var words_per_sentence_chart = Highcharts.chart('graph-words-per-sentence', {
    chart: {
      type: 'line',
      zoomType: 'x'
    },
    title: {
      text: ''
    },
    xAxis: {
      title: {
        text: 'Sentence ID'
      },
      tickInterval: 1,
      scrollbar: {
        enabled: true
      },
    },
    yAxis: {
      title: {
        text: 'Words per sentence'
      },
      gridLineWidth: 1,
      type: 'linear'
    },
    series: [{
      name: 'Words',
      data: <%= analysis.words_per_sentence %>,
      // TODO zoning for pockets of sequential high/low outliers?
    }],
    tooltip: {
      formatter: function() {
        return 'Sentence ID ' + this.x + ' has <b>' + this.y + '</b> word' + (this.y == 1 ? '' : 's') + '.';
      }
    },
    legend: {
      enabled: false
    }
  });
})
</script>
