<h5>Time to read</h5>
<div class="row">
  <div class="col s12 m3">
    <div class="card orange darken-2">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text">
            <%= distance_of_time_in_words(analysis.word_count / 200.0 * 60, 0, include_seconds: true) %>
          </h5>
          Average reader
          <div><small>at 200 words per minute</small></div>
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card orange lighten-2">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text">
            <%= distance_of_time_in_words(analysis.word_count / 100.0 * 60, 0, include_seconds: true) %>
          </h5>
          Slow reader
          <div><small>at 100 words per minute</small></div>
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card orange lighten-2">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text">
            <%= distance_of_time_in_words(analysis.word_count / 300.0 * 60, 0, include_seconds: true) %>
          </h5>
          Fast reader
          <div><small>at 300 words per minute</small></div>
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card orange lighten-2">
      <div class="card-content white-text center">
        <span class="card-title">
          <h5 class="white-text">
            <%= distance_of_time_in_words(analysis.word_count / 400.0 * 60, 0, include_seconds: true) %>
          </h5>
          Speed reader
          <div><small>at 400 words per minute</small></div>
        </span>
      </div>
    </div>
  </div>
</div>
