<%
  fields_not_to_edit = ['id', 'created_at', 'updated_at']
%>

<div class="row">
  <% (@content.attribute_names - fields_not_to_edit).reject { |x| x.end_with? '_id' }.each do |field| %>
    <div class="input-field col s12">
      <%= f.text_field field %>
      <label for="<%= field %>"><%= field.humanize.capitalize %></label>
    </div>
  <% end %>
</div>
