
<div style="padding: 35px 20px;">

  <%# Content panels %>
  <% content.class.attribute_categories(current_user).each do |category| %>
    <%= render 'content/form/panel', category: category, f: f, content: content %>
  <% end %>
</div>

<div class="card-action center grey-text">
  Tip: You don't need to save before changing categories (on the right). Just remember to save when you're done!
</div>