<div style="padding: 35px 20px;">
  <%= render 'content/form/errors', content: content %>

  <%# Content panels %>
  <% content.class.attribute_categories(@content.persisted? ? @content.user : current_user).includes(:attribute_fields).each do |category| %>
    <%= render 'content/form/panel', category: category, f: f, content: content %>
  <% end %>
</div>

<div class="card-action center grey-text">
  Tip: You don't need to save before changing categories (on the right). Just remember to save when you're done!
</div>

<%= content_for :javascript do %>
  // todo hack this might be fixed with the latest materialize -- we should check
  $('.field_with_errors').find('textarea, input').addClass('invalid');
<% end %>
