<div id="keyboard-controls-help-modal" class="modal">
  <div class="modal-content">
    <h4>Keyboard Controls</h4>
    <div class="row">
      <p>
        The following keyboard controls are supported across Notebook.ai.
        All keyboard controls are disabled when editing a document or notebook page.
      </p>
    </div>
    <div class="row" id="keyboard-controls-help-modal-supported-keys">
      <ul id="shortcut-list">
        <li>
          <strong>?</strong> Show this dialog
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">close</a>
  </div>
</div>

<%= content_for :javascript do %>
  var shortcut_list = $('#shortcut-list');

  active_redirect_shortcuts.forEach(function(shortcut){
    shortcut_list.append(
      $('<li />').html('<strong>N+' + shortcut.key + '</strong> Jump to new ' + shortcut.page + ' form')
    );
  });
<% end %>