<div id="share-modal" class="modal">
    <div class="modal-content">
        <h4>Share <%= shared_content.name %></h4>

        <div class="row">
          <div class="input-field col s12">
              <input type="text" id="share_url" readonly onclick="this.focus();this.select()" value="<%= polymorphic_url(shared_content) %>">
              <label for="share_url">Share URL</label>
          </div>
        </div>

        <div class="row">
          <p class="col s12">To be shareable, content must be <b>public</b>, and in a <b>public</b> Universe.</p>
        </div>

        <% if ((shared_content.respond_to? :universe) && shared_content.universe.present?) %>
        <div class="row">
            <%= render partial: 'content/form/privacy_toggle', locals: { content: shared_content.universe } %>
        </div>
        <% end %>

        <% if shared_content.respond_to? :privacy %>
        <div class="row">
            <%= render partial: 'content/form/privacy_toggle', locals: { content: shared_content } %>
        </div>
        <% end %>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>
