<%= content_for :full_width_page_header do %>
  <%= render partial: 'content/display/image_card_header' %>
<% end %>

<%= render partial: 'content/display/changelog', locals: { content: @serialized_content } %>

<!--
TAILWIND: use this
<div class="flex items-center">
  <span class="text-green-700 font-medium mr-1">+3</span>
  <span class="text-red-700 font-medium">-3</span>
  <div class="ml-2 space-x-0.5 flex items-center">
    <div class="bg-green-600 border-green-700 h-3.5 w-3.5 border-2"></div>
    <div class="bg-green-600 border-green-700 h-3.5 w-3.5 border-2"></div>
    <div class="bg-red-600 border-red-700 h-3.5 w-3.5 border-2"></div>
    <div class="bg-red-600 border-red-700 h-3.5 w-3.5 border-2"></div>
    <div class="bg-gray-200 border-gray-300 h-3.5 w-3.5 border-2"></div>
  </div>
</div>
-->