<%= form_with(model: page_collection_submission, local: true) do |form| %>
  <% if page_collection_submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page_collection_submission.errors.count, "error") %> prohibited this page_collection_submission from being saved:</h2>

      <ul>
        <% page_collection_submission.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
