<div class="nav">
  <div style="float: left">
    <%= link_to main_app.root_path do %>
      Back to <strong>Notebook.ai</strong>
    <% end %>
  </div>
  <div style="float: right">
    <% if user_signed_in? %>
      Hello,
      <%= link_to current_user.name, current_user %>!
    <% end %>
  </div>

  <div style="clear: both"></div>
</div>

<style>
.nav {
  background: #03A9F4;
  color: white;
  margin: 0;
  padding: 16px 8px;
  box-shadow: 1px 1px 1px grey;
}

.nav a {
  color: white;
  text-decoration: none;
}

</style>