<div class="thredded--empty">
  <h3 class="thredded--empty--title">No messages yet</h3>
  <p>Start a private conversation with other members</p>
  <a class="thredded--button" href="<%= new_private_topic_path %>">
    <i class="material-icons">edit</i>
    <%= t 'thredded.private_topics.no_private_topics.create_btn' %>
  </a>
</div>