<h4>Editing a location</h4>
<%= form_for @content, :url => location_edit_process_path do |form| %>
  <%= render partial: 'content/form', locals: { f: form, content: @content } %>
  <%= form.submit nil, :class => 'btn btn-primary' %>
  <%= link_to "Delete #{@content.class.to_s} forever", @content,
            :class => 'red btn right',
            :method => :delete,
            :confirm => 'Are you sure? This action cannot be undone!' %>
<% end %>