<h4>You've created <%= @content.count %> locations</h4>
<%= render partial: 'content/list/list', locals: { content_list: @content } %>

<%= link_to 'Create another location', new_location_path, :class => 'btn' %>
