<% if session[:anon_user] and session[:user] and User.find(session[:user]).content_count > 0 %>

<div class="navbar" style="padding: 12px; margin-top: -20px; background: #ccffee; border-bottom: 1px solid #bbeeff; text-align: center;">
	<div class="container">
		You are currently using an <a href="/about/anon-login">anonymous account</a>. In order to save the brilliant things you have created with it, please <a href="/account">click here</a> to give yourself a username and password.
	</div>
</div>

<% end %>