<div class="navbar-fixed">
  <nav class="navbar nav-extended <%= 'logged-in' if user_signed_in? %>" style="background-color: <%= @navbar_color.presence || '#2196F3' %>">
    <div class="nav-wrapper">
      <ul class="right">
        <li>
          <%= yield :navbar_right_content %>
        </li>
      </ul>
      <ul class="left">
        <li>
          <a class="sidenav-trigger show-on-large" href="#" data-target="sidenav-left">
            <i class="material-icons">menu</i>
          </a>
        </li>
        <li>
          <%= yield :navbar_left_content %>
        </li>
      </ul>
    </div>
  </nav>
</div>
