<footer class="page-footer light-blue">

  <% if user_signed_in? %>
    <div class="fixed-action-btn" style="bottom: 25px; right: 24px;">
      <a class="btn-floating btn-large blue-grey">
        <i class="large material-icons">add</i>
      </a>
      <ul>
        <% [Universe, Character, Location, Item, Creature, Race, Religion, Group, Magic, Language, Scene].reverse.each do |content_type| %>
          <li>
            <%= link_to new_polymorphic_path(content_type), class: "btn-floating #{content_type.color}" do %>
              <i class="material-icons tooltipped" data-position="left" data-tooltip="New <%= content_type.name %>">
                <%= content_type.icon %>
              </i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="grey-text">
          <a href="/about/privacy" class="white-text">Privacy Policy</a> /
          <a href="https://github.com/indentlabs/notebook" class="white-text">Source Code</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 <%= link_to 'Indent Labs, LLC.', 'http://indentlabs.com', class: 'white-text' %>
    </div>
  </div>
</footer>