<footer class="stealth-page-footer grey-text">
  <% if user_signed_in? %>
    <div class="fixed-action-btn" style="bottom: 25px; right: 24px;">
      <a class="btn-floating btn-large blue-grey">
        <i class="large material-icons">add</i>
      </a>
      <ul>
        <% @activated_content_types.each do |content_type_string| %>
          <% content_type = content_type_string.constantize %>
          <li>
            <%= link_to main_app.new_polymorphic_path(content_type), class: "btn-floating #{content_type.color}" do %>
              <i class="material-icons tooltipped" data-position="left" data-tooltip="New <%= content_type.name %>">
                <%= content_type.icon %>
              </i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container center">
    <div class="row">
      <div class="col s12">
        <div class="grey-text">
          <a href="/about/privacy" class="grey-text">Privacy Policy</a> /
          <a href="https://github.com/indentlabs/notebook" class="grey-text" target="_blank">Source Code</a> /
          <a href="https://www.twitter.com/indentlabs" class="grey-text" target="_blank">Twitter</a> /
          <a href="https://www.facebook.com/Notebookai-556092274722663/" class="grey-text" target="_blank">Facebook</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright center">
    <div class="container">
      Notebook.ai © 2016-2019 <%= link_to 'Indent Labs, LLC.', 'http://indentlabs.com', class: 'grey-text' %>
    </div>
  </div>
</footer>
