<footer class="page-footer light-blue">

  <% if user_signed_in? %>
    <div class="fixed-action-btn" style="bottom: 25px; right: 24px;">
      <a class="btn-floating btn-large blue-grey">
        <i class="large material-icons">add</i>
      </a>
      <ul>
        <% current_user.user_content_type_activators.pluck(:content_type).reverse.each do |content_type_string| %>
          <% content_type = content_type_string.constantize %>
          <% next unless current_user.can_create?(content_type) %>
          <li>
            <%= link_to new_polymorphic_path(content_type), class: "btn-floating #{content_type.color}" do %>
              <i class="material-icons tooltipped" data-position="left" data-tooltip="New <%= content_type.name %>">
                <%= content_type.icon %>
              </i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="grey-text">
          <a href="/about/privacy" class="white-text">Privacy Policy</a> /
          <a href="https://github.com/indentlabs/notebook" class="white-text" target="_new">Source Code</a> /
          <a href="https://www.twitter.com/indentlabs" class="white-text" target="_new">Twitter</a> /
          <a href="https://www.facebook.com/Notebookai-556092274722663/" class="white-text" target="_new">Facebook</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016-2017 <%= link_to 'Indent Labs, LLC.', 'http://indentlabs.com', class: 'white-text' %>
    </div>
  </div>
</footer>
