<% if session[:user] %>
	<ul class="nav">
		<li><%= link_to User.find(session[:user]).name, '/account' %></li>
		<li><%= link_to "Log out", logout_path %></li>
	</ul>
<% else %>
	<ul class="nav">
		<li><a href="/login">Login</a></li>
		<li><a href="/register">Register</a></li>
		<li><a href="/adoption">
			Adoption
			<i class="icon-question-sign"></i>
		</a></li>
	</ul>
<% end %>
