<% if session[:user] %>
	<div>
		Hello, <%= session[:user] %> |
		<%= link_to "Log out", logout_path %>
	</div>
<% else %>
	<%= link_to "Log in", login_path %> to start, or
	<%= link_to "Register", signup_path %> a new account
<% end %>
