<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" original-title="">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">The Process</a>
      <div class="nav-collapse">
        <ul class="nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<b class="caret"></b> Plan
						</a>
						<ul class="dropdown-menu">
							<li><a href="/characters"><i class="icon-user"></i> Characters</a></li>
							<li><a href="/characters"><i class="icon-shopping-cart"></i> Equipment</a></li>
							<li><a href="/characters"><i class="icon-comment"></i> Languages</a></li>
							<li><a href="/characters"><i class="icon-map-marker"></i> Locations</a></li>
							<li><a href="/characters"><i class="icon-leaf"></i> Magic</a></li>
							<li><a href="/characters"><i class="icon-road"></i> Plots</a></li>
							<li class="divider"></li>
							<li><a href="/characters"><i class="icon-gift"></i> Adoption Agency</a></li>
						</ul>
					</li>
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<b class="caret"></b> Write
						</a>
						<ul class="dropdown-menu">
							<li><a href="/characters"><i class="icon-music"></i> Lyrics</a></li>
							<li><a href="/characters"><i class="icon-book"></i> Novel</a></li>
							<li><a href="/characters"><i class="icon-info-sign"></i> Nonfiction</a></li>
							<li><a href="/characters"><i class="icon-align-left"></i> Poetry</a></li>
							<li><a href="/characters"><i class="icon-film"></i> Screenplay</a></li>
							<li><a href="/characters"><i class="icon-bookmark"></i> Short Story</a></li>
							<li class="divider"></li>
							<li><a href="/characters"><i class="icon-th"></i> My Content</a></li>
						</ul>
					</li>
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<b class="caret"></b> Revise
						</a>
						<ul class="dropdown-menu">
							<li><a href="/characters"><i class="icon-check"></i> Checklists</a></li>
							<li><a href="/characters"><i class="icon-signal"></i> Analytics</a></li>
							<li><a href="/characters"><i class="icon-retweet"></i> Peer Critiques</a></li>
							<li><a href="/characters"><i class="icon-star"></i> Professional Review</a></li>
						</ul>
					</li>
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<b class="caret"></b> Submit
						</a>
						<ul class="dropdown-menu">
							<li><a href="/characters"><i class="icon-share-alt"></i> To Your Blog</a></li>
							<li><a href="/characters"><i class="icon-inbox"></i> To Print Publishers</a></li>
							<li><a href="/characters"><i class="icon-print"></i> To Online Publishers</a></li>
							<li class="divider"></li>
							<li><a href="/characters"><i class="icon-envelope"></i> My Submissions</a></li>
						</ul>
					</li>
					
        </ul>
      </div>
      <div class="navbar-text pull-right">
      	<%= render 'layouts/login_box' %>
      </div>
    </div>
  </div>
</div>
