<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Account Settings</a></li>
  <li class="divider"></li>
  <li><a href="#!">Log out</a></li>
</ul>

<div class="navbar-fixed">
  <nav class="light-blue">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Notebook</a>
      <ul class="right hide-on-small-and-down">
        <li>
          <a class="tooltipped" data-position="bottom" data-delay="100" data-tooltip="Universes">
            <i class="material-icons">vpn_lock</i>
          </a>
        </li>
        <li>
          <a class="tooltipped" data-position="bottom" data-delay="100" data-tooltip="Characters">
            <i class="material-icons">group</i>
          </a>
        </li>
        <li>
          <a class="tooltipped" data-position="bottom" data-delay="100" data-tooltip="Locations">
            <i class="material-icons">terrain</i>
          </a>
        </li>
        <li>
          <a class="tooltipped" data-position="bottom" data-delay="100" data-tooltip="Items">
            <i class="material-icons">beach_access</i>
          </a>
        </li>
        <li>
          <a class="dropdown-button tooltipped" href="#!" data-activates="dropdown1" data-position="bottom" data-delay="100" data-tooltip="You">
            <i class="material-icons">person</i>
          </a>
        </li>
      </ul>
      <ul class="left hide-on-med-and-down">
        <li>
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </nav>
</div>