<%= render partial: 'layouts/navbar/recent_content_dropdown' %>
<%= render partial: 'layouts/modals/search' %>

<div class="navbar-fixed">
  <nav class="blue navbar nav-extended">
    <div class="nav-wrapper">
      <ul class="right">
        <% if user_signed_in? %>
          <% if current_user.recent_content_list.any? %>
            <li>
              <a class="dropdown-trigger tooltipped" href="#!" data-target="recent-content-dropdown" data-position="bottom" data-delay="100" data-tooltip="Your recently-edited pages">
                <i class="material-icons">recent_actors</i>
              </a>
            </li>
          <% end %>
          <li>
            <a class="waves-effect waves-light modal-trigger tooltipped" href="#search-modal" data-tooltip="Search your notebook">
              <i class="material-icons">search</i>
            </a>
          </li>
        <% else %>
          <li class="hide-on-med-and-down">
            <%= link_to 'Sign in', main_app.new_user_session_path %>
          </li>
          <li class="hide-on-med-and-down">
            <%= link_to 'Sign up', main_app.new_user_registration_path %>
          </li>
        <% end %>
      </ul>
      <ul class="left">
        <% if user_signed_in? %>
          <li>
            <a class="sidenav-trigger" href="#" data-target="sidenav-left">
              <i class="material-icons">menu</i>
            </a>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="white-text active" href="#test1">Test 1</a></li>
        <li class="tab"><a class="white-text" href="#test2">Test 2</a></li>
        <li class="tab"><a class="white-text" href="#test3">Test 3</a></li>
        <li class="tab"><a class="white-text" href="#test4">Test 4</a></li>
      </ul>
    </div>
  </nav>
</div>
