<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">Indent</a>
      <div class="nav-collapse collapse" style="height: 0px;">

        <p class="navbar-text pull-right">
          <%= render 'layouts/login_box' %>
        </p>

        <ul class="nav">
          <li><a href="/plan/characters">Characters</a></li>
          <li><a href="/plan/equipment">Equipment</a></li>
          <li><a href="/plan/languages">Languages</a></li>
          <li><a href="/plan/locations">Locations</a></li>
          <li><a href="/plan/magic">Magic</a></li>
          <li><a href="/plan/universes">Universes</a></li>
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
