<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" original-title="">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Indent</a>
      <div class="nav-collapse">
        <ul class="nav">
          
          <% if session[:user] %>
          <li>
            <a href="/"> Dashboard Icon</a>
          </li>
          <% end %>

          <li><a href="/plan/characters">Characters</a></li>
          <li><a href="/plan/equipment">Equipment</a></li>
          <li><a href="/plan/languages">Languages</a></li>
          <li><a href="/plan/locations">Locations</a></li>
          <li><a href="/plan/magic">Magic</a></li>
<%
          #<li><a href="/plan/plots"><i class="icon-road"></i> Plots</a></li>
%>
          <li><a href="/plan/universes">Universes</a></li>
<%
#					<li class="dropdown">
#						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
#							<b class="caret"></b> Write
#						</a>
#						<ul class="dropdown-menu">
#							<li><a href="/write/lyrics"><i class="icon-music"></i> Lyrics</a></li>
#							<li><a href="/write/novel"><i class="icon-book"></i> Novel</a></li>
#							<li><a href="/write/nonfiction"><i class="icon-info-sign"></i> Nonfiction</a></li>
#							<li><a href="/write/poetry"><i class="icon-align-left"></i> Poetry</a></li>
#							<li><a href="/write/screenplay"><i class="icon-film"></i> Screenplay</a></li>
#							<li><a href="/write/story"><i class="icon-bookmark"></i> Short Story</a></li>
#							<li class="divider"></li>
#							<li><a href="/my/content"><i class="icon-th"></i> My Content</a></li>
#						</ul>
#					</li>
#					
#					<li class="dropdown">
#						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
#							<b class="caret"></b> Revise
#						</a>
#						<ul class="dropdown-menu">
#							<li><a href="/revise/checklists"><i class="icon-check"></i> Checklists</a></li>
#							<li><a href="/revise/analytics"><i class="icon-signal"></i> Analytics</a></li>
#							<li><a href="/revise/peer-critiques"><i class="icon-retweet"></i> Peer Critiques</a></li>
#							<li><a href="/revise/professional-review"><i class="icon-star"></i> Professional Review</a></li>
#						</ul>
#					</li>
#					
#					<li class="dropdown">
#						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
#							<b class="caret"></b> Submit
#						</a>
#						<ul class="dropdown-menu">
#							<li><a href="/submit/blog"><i class="icon-share-alt"></i> To Your Blog</a></li>
#							<li><a href="/submit/print-publishers"><i class="icon-inbox"></i> To Print Publishers</a></li>
#							<li><a href="/submit/online-publishers"><i class="icon-print"></i> To Online Publishers</a></li>
#							<li class="divider"></li>
#							<li><a href="/my/submissions"><i class="icon-envelope"></i> My Submissions</a></li>
#						</ul>
#					</li>
%>
					
        </ul>
      </div>
      <div class="navbar-text pull-right">
      	<%= render 'layouts/login_box' %>
      </div>
    </div>
  </div>
</div>