<noscript>
  <div class="navbar" style="padding: 12px; margin-top: -20px; background: #ff2211; border-bottom: 1px solid #ffbbaa; text-align: center; text: black;">
    <div class="container">
      <%= t '.paragraph_1' %>
    </div>
  </div>
</noscript>
