<% if flash[:notice] %>
	<div class="row">
		<div class="span12 alert alert-notice">
			<%= flash[:notice] %>
		</div>
	</div>
<% end %>

<% if flash[:alert] %>
	<div class="row">
		<div class="span12 alert alert-notice">
			<%= flash[:alert] %>
		</div>
	</div>
<% end %>
