<% if user_signed_in? %>
  <%
    quick_actions = @activated_content_types.map do |content_type_name|
      content_class = content_class_from_name(content_type_name)
      {
        name:  "Create new #{content_type_name}",
        icon:  content_class.icon,
        color: content_class.color,
        route: main_app.new_polymorphic_path(content_class)
      }
    end
  %>
  <div class="no-print">
    <%= react_component("QuickPageCreatesFab", { actions: quick_actions }) unless defined?(@show_footer) && !@show_footer %>
  </div>
<% end %>