<div class="row">
	<% if alert %>
	  <div class="col s12">
	    <div class="card-panel amber darken-3 hoverable">
	      <span class="white-text">
	      	<%= alert %>
	      </span>
	    </div>
	  </div>
	<% end %>

	<% if notice %>
	  <div class="col s12">
	    <div class="card-panel light-blue darken-3 hoverable">
	      <span class="white-text">
	      	<%= notice %>
	      </span>
	    </div>
	  </div>
	<% end %>

	<div class="col s12">
		<div class="card-panel hoverable">
			Something something, there is some text in your sidebar and because it's not very colorful, it's probably only relatively important. These should probably be dismissable.
		</div>
	</div>

</div>
