

<% if user_signed_in? %>

  <%= yield :sidebar_top %>
  <%= render 'cards/user/recent_activity' %>
  <%= yield :sidebar_bottom %>

<% else %>

  <%
    content_type_pool = [Character, Creature, Group, Item, Language, Location, Magic, Race, Religion, Scene, Universe]
    selected_types = content_type_pool.sample(1)

    selected_types.each do |type|
  %>
    <%= render partial: 'cards/intros/content_type_intro', locals: { content_type: type } %>
  <%
    end
  %>

<% end %>

<div class="card-panel green lighten-5 hoverable">
  <p class="center"><strong>You can now upload images!</strong></p>
  <p>
    Image uploading has been our most-requested feature since launch. Now that I'm working full-time on
    Notebook.ai, I'm happy to say it took about a week to finish up &mdash; and now it's ready for you.
  </p>
  <p>
    You can upload images to any content from the "Gallery" tab while editing it.
  </p>
  <p>
    Free users have 50MB of space, and premium users have a whopping 10GB.
    <% if current_user && current_user.selected_billing_plan_id == BillingPlan.find_by(stripe_plan_id: 'free-for-life').id %>
      Because you were here at Notebook.ai's launch, <strong>we've quintupled your space from 50MB to 250MB. Thank you!</strong>
    <% end %>
  </p>
  <p>
    Happy worldbuilding, and
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScOhSMdDqWqJu9HGPQdmd0R9s90_AcSo0g6_Nc1qNjQIbSaXA/viewform" target="_new">
      don't forget to leave feedback on what feature you'd like to see next</a>!
  </p>
</div>
