<div>
	<h4>Recent Updates</h4>
	<hr />
	<span class="label label-info">new!</span>
	<a href="http://coding-the-writing-process.blogspot.com/2012/12/keep-track-of-equipment.html">Plan and keep track of Equipment</a>
	<hr />
	<a href="http://coding-the-writing-process.blogspot.com/2012/12/plan-your-characters-beta-live-on-heroku.html">Character Planning is ready to beta!</a>
</div>
