<div class="row">
	<% if alert %>
	  <div class="col s12">
	    <div class="card-panel amber darken-3 hoverable">
	      <span class="white-text">
	      	<%= alert %>
	      </span>
	    </div>
	  </div>
	<% end %>

	<% if notice %>
	  <div class="col s12">
	    <div class="card-panel light-blue darken-3 hoverable">
	      <span class="white-text">
	      	<%= notice %>
	      </span>
	    </div>
	  </div>
	<% end %>
</div>

<% if user_signed_in? %>


<% all_content = %i(universes characters locations items).map { |c| current_user.send(c) }.flatten.sort_by(&:created_at).reverse.first(10) %>
  <% if all_content.count > 0 %>
    <%= render partial: 'content/list/list', locals: { content_list: all_content, title: 'Your recent creations' } %>
  <% end %>

<% else %>

<div class="row">
    <div class="col s12">
      <div class="card hoverable">
        <div class="card-image">
          <img src="http://img12.deviantart.net/9cda/i/2013/116/c/d/portals_by_digb-d632p4j.jpg">
          <span class="card-title">Build universes</span>
        </div>
        <div class="card-content">
          <p>
          	You know you've always wanted to create <em>an entire universe</em>. Now's your chance!
          </p>
        </div>
      </div>
    </div>

    <div class="col s12">
      <div class="card hoverable">
        <div class="card-image">
          <img src="http://pre07.deviantart.net/f769/th/pre/i/2013/226/7/8/wanderings_by_trevorcarlsongay-d6hza0x.jpg">
          <span class="card-title">Create characters</span>
        </div>
        <div class="card-content">
          <p>
          	Plan physical appearance, behaviorisms, social roles, family &ndash; even a favorite color!
          </p>
        </div>
      </div>
    </div>

    <div class="col s12">
      <div class="card hoverable">
        <div class="card-image">
          <img src="http://pre10.deviantart.net/526f/th/pre/f/2013/331/f/3/calltoconvention_by_paulsgruff-d6vth1g.jpg">
          <span class="card-title">Construct locations</span>
        </div>
        <div class="card-content">
          <p>
          	Upload maps, link areas, track demographics, and keep track of history.
          </p>
        </div>
      </div>
    </div>

    <div class="col s12">
      <div class="card hoverable">
        <div class="card-image">
          <img src="https://i.imgur.com/9nalIJG.jpg">
          <span class="card-title">Track items</span>
        </div>
        <div class="card-content">
          <p>
          	Every weapon was made by someone, and every book has an owner. Keep track of every aspect of your items.
          </p>
        </div>
      </div>
    </div>
</div>

<% end %>
