<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'layouts/common_head' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js" integrity="sha256-1uH5nQ+1cUZEU9YOfMzc9rapsWyuGtvKPpvKN9xDgug=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartkick/2.1.0/chartkick.min.js" integrity="sha256-Nux9AlQvMarSN0Lk52PcKRlezOXTqHGlZRFgBJ7UXyY=" crossorigin="anonymous"></script>
</head>
<body data-in-app="true" class="<%= 'dark' if user_signed_in? && current_user.dark_mode_enabled? %> bg-gray-100 dark:bg-gray-900">

  <%= render 'layouts/navbar' %>

  <main>
    <%= yield %>
  </main>

</body>
</html>
