<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag    "pdf" %>
  <%= wicked_pdf_javascript_include_tag "pdf" %>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<body onload='number_pages'>
  <div id="content">
    <!--PDF_CONTENT-->
  </div>
</body>
</html>
