<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @document.title %> - Printable</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 12pt;
      line-height: 1.6;
      color: #000;
      background: #fff;
      max-width: 8.5in;
      margin: 0 auto;
      padding: 0.75in;
    }

    h1 {
      font-size: 24pt;
      font-weight: bold;
      margin-bottom: 0.5em;
      line-height: 1.2;
    }

    .meta {
      font-size: 10pt;
      color: #666;
      margin-bottom: 2em;
      padding-bottom: 1em;
      border-bottom: 1px solid #ddd;
    }

    .content {
      text-align: justify;
    }

    .content p {
      margin-bottom: 1em;
    }

    .content h1, .content h2, .content h3,
    .content h4, .content h5, .content h6 {
      margin-top: 1.5em;
      margin-bottom: 0.5em;
    }

    .content h2 { font-size: 18pt; }
    .content h3 { font-size: 14pt; }
    .content h4 { font-size: 12pt; }

    .content ul, .content ol {
      margin-left: 2em;
      margin-bottom: 1em;
    }

    .content blockquote {
      margin: 1em 2em;
      padding-left: 1em;
      border-left: 3px solid #ccc;
      font-style: italic;
    }

    .content img {
      max-width: 100%;
      height: auto;
    }

    .content a {
      color: #000;
      text-decoration: underline;
    }

    /* Strip background and text colors from pasted content */
    .content * {
      background-color: transparent !important;
      background: transparent !important;
      color: #000 !important;
    }

    @media print {
      body {
        padding: 0;
      }

      @page {
        margin: 0.75in;
      }
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
