<div class="card-panel <%= PageCollection.color %> darken-3 white-text">
  Showing all submitted pages from <%= link_to contributor.display_name, contributor, class: "#{User.text_color}" %>. 
  Click <%= link_to 'here', @page_collection, class: 'blue-text text-lighten-3' %> to see all pages regardless of author.
</div>