<div class="card-panel <%= page_type.color %> darken-3 white-text">
  Showing all submitted <%= page_type.name %> pages.

  Click <%= link_to 'here', @page_collection, class: 'blue-text text-lighten-3' %> to see all pages regardless of type.
</div>