<div class="content-sort-bar center">
  <!--
  <%= link_to '#', class: 'btn btn-flat' do %>
    <i class="material-icons left">sort</i>
    Trending
  <% end %>
  -->
  <%= link_to params.permit(:sort).merge({sort: 'alphabetical'}), class: 'btn btn-flat' do %>
    <i class="material-icons left">sort</i>
    Alphabetical
  <% end %>
  <%= link_to params.permit(:sort).merge({sort: 'recent'}), class: 'btn btn-flat' do %>
    <i class="material-icons left">sort</i>
    Recently added
  <% end %>
</div>