<div class="float-right space-x-4 font-normal">
  <!--
    Sorts/filters to add:

    Trending
    From your network
  -->
  <%= link_to params.permit(:sort).merge({sort: 'alphabetical'}), class: 'inline-block text-gray-400 hover:text-gray-500', data: { tooltip: "Show pages in this collection alphabetically, by name" } do %>
    <i class="material-icons float-left text-xs mr-1 pt-0.5">sort</i>
    Alphabetical
  <% end %>
  <%= link_to params.permit(:sort).merge({sort: 'chronological'}), class: 'inline-block text-gray-400 hover:text-gray-500', data: { tooltip: "Show pages in this collection in the order they were added" } do %>
    <i class="material-icons float-left text-xs mr-1 pt-0.5">sort</i>
    Chronological
  <% end %>
  <%= link_to params.permit(:sort).merge({sort: 'recent'}), class: 'inline-block text-gray-400 hover:text-gray-500', data: { tooltip: "Sort pages in this collection most-recently-added-first" } do %>
    <i class="material-icons float-left text-xs mr-1 pt-0.5">sort</i>
    Recently added
  <% end %>
  <%= link_to params.permit(:sort).merge({sort: 'shuffle'}), class: 'inline-block text-gray-400 hover:text-gray-500', data: { tooltip: "Show pages in this collection in a random order" } do %>
    <i class="material-icons float-left text-xs mr-1 pt-0.5">sort</i>
    Shuffle
  <% end %>
</div>
