<div>
  <h1 class="text-center text-xl <%= PageCollection.text_color %> font-bold my-8">
    <%= @page_collection.title %>
  </h1>

  <%= render 'form', page_collection: @page_collection %>
</div>

<%= 
  link_to 'Delete this page collection', 
    @page_collection, 
    method: :DELETE, 
    class: 'btn btn-flat red-text right', 
    data: { confirm: "Are you sure? This will PERMANENTLY delete this entire collection! It cannot be undone!" }
%>